@charset "UTF-8";
// レイアウト用css for Layout
// Can use id, If you use class Please adding prefix .l- 
/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
	min-width: 1200px;
	/* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
	line-height: 1.5;
	text-align: center;
	font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

.container {
	margin: 0 auto;
	width: 1200px;
	text-align: left;
}

.l-main {
	margin-bottom: 10px;
	font-size: 1.4rem;
	@include cf;
	// @extend %cf;
}
.sm{
	display: none !important;
}
.trans {
	-webkit-transition: all 0.8s;
	   -moz-transition: all 0.8s;
	    -ms-transition: all 0.8s;
	     -o-transition: all 0.8s;
	        transition: all 0.8s;
	&:hover {
		opacity: 0.8;
	}
}
/*------------------------------------------------------------
	header
------------------------------------------------------------*/
#header {
	border-top: 7px solid #4e4e4e;
	.header-top {
		border-top: 1px solid #efefef;
		padding-top: 14px;
	}
	.header-logo {
		float: left;
		width: 73px;
		img {
			width: 100%;
		}
	}
	.header-right {
		float: right;
		ul {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
		}
		li {
			margin-left: 4px;
			&:first-child {
				margin-right: 11px;
				margin-left: 36px;
			}
			&:nth-child(2) {
				margin-right: 1px;
			}
		}
	}
	.hearder-logo01 {
		float: left;
		width: 253px;
		margin-top: 5px;
		img {
			width: 100%;
		}
	}
	nav {
		margin-top: 20px;
		ul {
			display: flex;
			flex-wrap: wrap;
			font-family: arial;
			border-left: 1px solid #000;
		}
		li {
			border-right: 1px solid #000;
			font-size: 16px;
			flex: 1 1 0;
			text-align: center;
		}
		a {
			text-decoration: none;
			display: block;
			color: #000000;
			line-height: 1.3;
			position: relative;
			-webkit-transition: all .5s;
			   -moz-transition: all .5s;
			    -ms-transition: all .5s;
			     -o-transition: all .5s;
			        transition: all .5s;
			height: 56px;
			overflow: hidden;
			display: flex;
			align-items: center;
			justify-content: center;
			&:hover {
				&:before {
					left: 0;
				}
			}
			&:before {
				content: "";
				background:#000;
				height: 1px;
				width: 100%;
				position: absolute;
				bottom: 0;
				left: -100%;
				-webkit-transition: all .5s;
			   	-moz-transition: all .5s;
			    -ms-transition: all .5s;
			     -o-transition: all .5s;
			        transition: all .5s;
			}
		}
	}
}

/*------------------------------------------------------------
	Navi
------------------------------------------------------------*/
/*------------------------------------------------------------
	contentc
------------------------------------------------------------*/
#conts {
	width: 580px;
	float: left;
}

/*------------------------------------------------------------
	side
------------------------------------------------------------*/

#sideBar {
	padding: 50px 0;
	width: 200px;
	background-color: #efefef;
	float: right;
}

/*------------------------------------------------------------
	footer
------------------------------------------------------------*/

footer {
	padding: 15px 0 26px;
	background-color: #f2f2f2;
	margin-top: 66px;
	position: relative;
	.footer-top {
		border-bottom: 1px solid #d2d2d2;
		padding-bottom: 8px;
		p {
			float: right;
			font-size: 10px;
			margin-right: 66px;
			line-height: 1.3;
		}
		ul {
			float: left;
			margin-top: 10px;
		}
		li {
			float: left;
			border-right: 1px solid #413f40;
			overflow: hidden;
			&:last-child {
				border-right: none;
			}
		}
		a {
			font-size: 12.5px;
			color: #413f40;
			text-decoration: none;
			position: relative;
			overflow: hidden;
			padding: 0 6px;
			&:hover {
				&:before {
					left: 0;
				}
			}
			&:before {
				content: "";
	            background: #413f40;
	            height: 1px;
	            width: 100%;
	            position: absolute;
	            bottom: 0;
	            left: -100%;
	            -webkit-transition: all .5s;
	            -moz-transition: all .5s;
	            -ms-transition: all .5s;
	            -o-transition: all .5s;
	            transition: all .5s;
			}
		}
	}
	.footer-end {
		padding-top: 11px;
		&-left {
			float: left;
			margin-left: 10px;
			img {
				width: 327px;
			}
		}
		&-right {
			float: right;
			margin-right: 55px;
			img {
				width: 119px;
			}
		}
	}
}
/*------------------------------------------------------------
	footer
------------------------------------------------------------*/

@media screen and (max-width: 736px) {
	.md{
		display: none;
	}
	.sm{
		display: block !important;
	}
	body {
		min-width: 320px;
		img {
			width: 100%;
		}
	}
	.container {
		width: auto;
	}
	#header{
		border-top: 1.2rem solid #3d3d3d;
		padding-left: 5.1px;
		position: relative;
		nav {
			position: absolute;
			top: 99%;
			left: 0;
			width: 100%;
			z-index: 9999;
			background: #fff;
			box-sizing: border-box;
			padding: 0 10px;
			margin-top: 0;
			display: none;
			ul {
				border-left: none;
				display: block;
			}
			li {
				border-right: none;
				border-bottom: 1px solid #000;
				font-size: 1.4rem;
				&:last-child{
					border-bottom: none;
				}
			}
			a {
				width: 100%;
				display: block;
				padding: 10px;
				text-transform: uppercase;
				height: auto;
				text-align: left;
				&:hover {
					&:before {
						content: none;
					}
				}
			}
		}
		.header-top {
			background: #fff;
			padding: 0;
		}
		.bnt-menu {
			width: 11%;
			height: calc(65px/2);
			text-align: center;
			right: calc(19px/2);
			float: right;
			margin-top: 12px;
			margin-right: 9px;
			margin-bottom: 7px;
			img {
				width: 100%;
				max-width: calc(83px/2);
			}
		}
		.header-logo {
			margin-top: 9px;
			width: 18%;
			img{
				max-width: calc(134px/2);
				width: 100%;
			}
		}
		.header-right {
			float: none;
			.hearder-logo01 {
				margin-top: 17px;
				width: 59%;
				margin-left: 8px;
				img {
					max-width: calc(430px/2);
					width: 100%;
				}
			}
			ul {
				display: none;
			}
		}
	}
	footer {
		padding: 0 0 77.5px;
		.page-up {
			position: absolute;
			top: -40px;
			right: 2%;
			width: 50px;
			img {
				width: 100%;
			}
		}
		.footer-top {
			border-bottom: none;
			ul {
				display: block;
				float: none;
				margin-top: 0;
			}
			li {
				border-bottom: 1px solid #e8e8e8;
				display: block;
				float: none;
				width: 100%;
				border-right: none;
			}
			a {
				display: block;
				padding: 7px 15px;
				font-size: 1.4rem;
				&:hover {
					&:before{
						content: none;
					}
				}
			}
			p {
				margin: 19px 14px 10px;
				float: none;
				font-size: 1.2rem;
				line-height: 1.4;
			}
		}
		.footer-end {
			padding-top: 3.5px;
			.footer-end-left {
				float: none;
				margin: 0 15px;
				text-align: center;
				img {
					max-width: 346.5px;
					width: 100%;
				}
			}
			.footer-end-right{
				margin-right: 28px;
				img {
					width: 138.5px;
				}
			}
		}
	}
}
