@charset "UTF-8";
@import "vars";	// 変数 Variable
@import "functions"; // 関数等 Function
/*------------------------------------------------------------
	Top page
------------------------------------------------------------*/
.l-main {
	margin-top: 15px;
	.mainvisual {
		text-align: center;
		margin-bottom: 40px
	}
	.t-text {
		text-align: center;
		font-size: 16px;
		color: #231815;
		margin-top: 40px;
		line-height: 1.8;
	}
	.c-collection {
		padding: 0 50px;
	}
	.slide-collection {
		width: 520px;
		position: relative;
		img {
			width: 100%;
		}
	}
	.slide-collection-left {
		float: left;
	}
	.slide-collection-right {
		float: right;
	}
	.content-collection {
		width: 523px;
		position: relative;
		.txt {
			margin: 38px 7px 34px;
			line-height: 1.5;
			font-size: 16px;
		}
		.txt02 {
			margin: 40px 0 134px;
		}
		.txt03 {
			margin: 40px 7px 111px;
		}
		select {
			border: 1px solid #000;
			border-radius: 5px;
			width: 388px;
			font-size: 18.6px;
			margin-bottom: 34px;
			margin-left: 10px;
			background: #fff;
		}
		.bnt {
			border: 1px solid #000;
			border-radius: 5px;
			text-align: center;
			background: url(../img/top/icon1_off.png) no-repeat right 15px center;
			width: 388px;
			font-size: 18.6px;
			margin-bottom: 34px;
			margin-left: 10px;
			-webkit-transition: all .8s;
			   -moz-transition: all .8s;
			    -ms-transition: all .8s;
			     -o-transition: all .8s;
			        transition: all .8s;
			span {
				font-weight: bold;
			}
			&:hover {
				background: #000 url(../img/top/icon1_on.png) no-repeat right 15px center;
				a {
					color: #fff;
				}
			}
			a {
				display: block;
				text-decoration: none;
				color: #000;
				padding: 7px 0;
			}
		}
		.encoder {
			font-size: 15px;
			margin-left: 8px;
			letter-spacing: 1px;
		}
		dl {
			display: table;
			margin-top: 10px;
			margin-left: 10px;
		}
		dt {
			display: table-cell;
			padding-right: 10px;
			padding-bottom: 4px;
		}
		dd {
			display: table-cell;
			vertical-align: bottom;
		}
		.text {
			font-size: 20px;
		}
		.price {
			margin-top: 10px;
			font-size: 12px;
			margin-left: 12px;
			span {
				font-size: 30px;
				&.price2{
					font-size: 20px;
				}
			}
		}
		.list_bnt {
			display: flex;
			flex-wrap: wrap;
			margin-top: 12px;
			a {
			  	display: block;
			  	padding: 7px 0;
			  	position: relative;
			  	z-index: 33;
			  }
			li {
				width: 250px;
			 	margin-right: 7px;
			 	position: relative;
			 	&:hover {
			 		&:before {
			 			opacity: 1;
			 		}
			 	}
			 	&:before {
			 		content: "";
			 		width: 100%;
			 		height: 100%;
			 		border: 1px solid #fff;
			 		position: absolute;
			 		top: 0%;
			 		left: 0%;
			 		box-sizing: border-box;
			 		opacity: 0;
					-webkit-transition: all .8s;
				    -moz-transition: all .8s;
				    -ms-transition: all .8s;
				     -o-transition: all .8s;
				        transition: all .8s;
			 	}
				&:first-child {
					background: #16214d;
					border: 1px solid #16214d;
					a {
						padding-left: 63px;
					}
				}
				&:last-child {
					background: #171717;
					border: 1px solid #171717;
					margin-right: 0;
					a {
						padding-left: 55px;
					}
				}
			}
		}
	}
	.content-collection-right {
		float: right;
		.list_bnt{
			margin-left: 10px;
		}
	}
	.content-collection-left {
		float: left;
		.title {
			margin-left: -5px;
			margin-top: 4px;
		}
		.encoder {
			margin-left: 0;
		}
		dl {
			margin-left: 0;
		}
		.price {
			margin-top: 4px;
		}
		.list_bnt{
			margin-left: 5px;
		}
	}
	.l-collection01 {
		margin-top: 97px;
	}
	.t-shell {
		margin: 40px auto 0;
		background: #eef2f5;
		padding: 72px 62px 72px 74px ;
		border-radius: 15px;
		max-width: 1100px;
		box-sizing: border-box;
		dl {
			display: flex;
			flex-wrap: wrap;
		}
		dt {
			width: 417px;
			margin-right: 36px;
		}
		dd {
			img {
				width: 495px;
			}
		}
		.title {
			text-align: center;
			margin-bottom: 43px;
			margin-top: 15px;
			margin-left: -8px;
			img {
				width: 202px;
			}
		}
		.txt {
			font-size: 16px;
			line-height: 2.0;
		}
		.bnt {
			background: #434151 url(../img/top/icon2_off.png) no-repeat right 15px center;
			width: 390px;
			border: 1px solid #434151;
			border-radius: 5px;
			margin: 37px 0 0 3px;
			text-align: center;
			-webkit-transition: all .8s;
		   -moz-transition: all .8s;
		    -ms-transition: all .8s;
		     -o-transition: all .8s;
		        transition: all .8s;
			&:hover {
				background: #fff url(../img/top/icon2_on.png) no-repeat right 15px center;
				a {
					color: #434151;
				}
			}
			a {
				text-decoration: none;
				color: #fff;
				display: block;
				font-size: 18px;
				padding: 7px;
			}
			span {
				font-weight: bold;
			}
		}
	}
	.c-sugoshell {
		margin: 45px 100px 90px;
		background: #dee5ea;
		border-radius: 15px;
		height: 109px;
		position: relative;
		a:after{
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
		}
		.title {
			text-align: center;
			padding-top: 28px;
			padding-right: 12px;
		}
		.txt {
			position: absolute;
			left: 55px;
			top: 23px;
		}
		.link {
			position: absolute;
			right: 29px;
			top: 45px;
		}
	}
	.t-sugoshell {
		margin-top: 75px;
		margin-bottom: 73px;
	}
}

@media screen and (max-width: 736px) {
	.l-main {
		margin-top: 0;
		.mainvisual {
			margin-bottom: calc(43px/2);
		}
		.t-text{
			font-size: 1.2rem;
			margin-top: 0;
			padding: 0 10px;
			line-height: 1.5;
		}
		.c-collection {
			padding: 0 25px;
			margin-top: calc(76px/2);
		}
		.l-collection02{
			margin-top: 70px;
		}
		.content-collection-left{
			.title {
				margin: 0;
			}
		}
		.slide-collection{
			width: 100%;
		}
		.content-collection {
			width: 100%;
			.title01 {
				width: calc(339px/2);
			}
			.title2 {
				width: calc(540px/2);
			}
			.title3 {
				width: calc(384px/2);
			}
			.txt {
				margin: 25px 0 10px;
				font-size: 1.2rem;
			}
			.txt02 {
				margin: 25px 0 20px;
				font-size: 1.2rem;
			}
			.bnt{
				margin: 0 0 15px;
				width: 100%;
				font-size: 1.55rem;
				border-radius: 3px;
				a {
					padding: 5px 0;
				}
			}
			.encoder {
				font-size: 1rem;
				margin: 0;
			}
			dl {
				margin: 8px 0 10px ;
			}
			dt {
				padding-right: 5px;
				img {
					width: calc(96px/2);
				}
			}
			.text {
				font-size: 1.5rem;
			}
			.price {
				margin: 0;
				font-size: 0.9rem;
				span {
					font-size: 2.05rem;
					&.price2 {
						font-size: 1.4rem;
					}
				}
			}
			.list_bnt {
				margin: 10px 0 0;
				text-align: center;
				li {
					width: 100%;
					margin-right: 0;
					margin-bottom: 8px;
					&:first-child {
						img {
							width: calc(187px/2);
							margin: auto;
						}
						a {
							padding: 12px 0 10px 15px;
							line-height: 1.0;
						}
					}
					&:last-child {
						img {
							width: calc(232px/2);
							margin: auto;
						}
						a {
							padding: 10px 0 10px 20px;
							line-height: 1.0;
						}
					}
				}
			}
		}
		.t-shell {
			margin: 32px 25px 0;
			padding: 24px 15px;
			dl {
				display: block;
			}
			dt {
				width: 100%;
			}
			dd {
				margin-top: 18px;
				img {
					width: 100%;
				}
			}
			.title {
				margin: 0 0 30px;
				text-align: center;
				img {
					width: calc(251px/2);
				}
			}
			.txt {
				font-size: 1.2rem;
				line-height: 1.45;
			}
			.bnt {
				width: 100%;
				margin: 16px 0 0;
				background: #434151 url(../img/top/icon2_off.png) no-repeat right 5px center;
				background-size: 6px auto;
				a{
					font-size: 1.2rem;
					letter-spacing: -0.5px;
				}
			}
		}
		.c-sugoshell-sp {
			margin: 25px 25px 63px;
		}
		.c-collection-sp {
			margin: 43px 25px 0;
		}
	}
}