@charset "UTF-8";
/*------------------------------------------------------------
	Default
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, button,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em; }

html {
  font-size: 62.5%; }

body, table,
input, textarea, select, option, button,
h1, h2, h3, h4, h5, h6 {
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  line-height: 1.1; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

table,
input, textarea, select, option {
  line-height: 1.1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

:focus {
  outline: 0; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

img {
  vertical-align: top; }

/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft {
  text-align: left !important; }

.taCenter {
  text-align: center !important; }

.taRight {
  text-align: right !important; }

.vTop {
  vertical-align: top !important; }

.vMiddle {
  vertical-align: middle !important; }

/* font weight */
.fwNormal {
  font-weight: normal !important; }

.fwBold {
  font-weight: bold !important; }

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 {
  margin-top: 0 !important; }

.mb0 {
  margin-bottom: 0 !important; }

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
  *zoom: 1; }
  .clearfix:after {
    display: block;
    clear: both;
    content: ""; }

/*------------------------------------------------------------
	for tracking tag
------------------------------------------------------------*/
.trackTags {
  display: none; }

/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
  min-width: 1200px;
  /* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
  line-height: 1.5;
  text-align: center;
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif; }

.container {
  margin: 0 auto;
  width: 1200px;
  text-align: left; }

.l-main {
  margin-bottom: 10px;
  font-size: 1.4rem; }
  .l-main:after {
    display: block;
    clear: both;
    content: ""; }

.sm {
  display: none !important; }

.trans {
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -ms-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s; }
  .trans:hover {
    opacity: 0.8; }

/*------------------------------------------------------------
	header
------------------------------------------------------------*/
#header {
  border-top: 7px solid #4e4e4e; }
  #header .header-top {
    border-top: 1px solid #efefef;
    padding-top: 14px; }
  #header .header-logo {
    float: left;
    width: 73px; }
    #header .header-logo img {
      width: 100%; }
  #header .header-right {
    float: right; }
    #header .header-right ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    #header .header-right li {
      margin-left: 4px; }
      #header .header-right li:first-child {
        margin-right: 11px;
        margin-left: 36px; }
      #header .header-right li:nth-child(2) {
        margin-right: 1px; }
  #header .hearder-logo01 {
    float: left;
    width: 253px;
    margin-top: 5px; }
    #header .hearder-logo01 img {
      width: 100%; }
  #header nav {
    margin-top: 20px; }
    #header nav ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      font-family: arial;
      border-left: 1px solid #000; }
    #header nav li {
      border-right: 1px solid #000;
      font-size: 16px;
      -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
      flex: 1 1 0;
      text-align: center; }
    #header nav a {
      text-decoration: none;
      display: block;
      color: #000000;
      line-height: 1.3;
      position: relative;
      -webkit-transition: all .5s;
      -moz-transition: all .5s;
      -ms-transition: all .5s;
      -o-transition: all .5s;
      transition: all .5s;
      height: 56px;
      overflow: hidden;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      #header nav a:hover:before {
        left: 0; }
      #header nav a:before {
        content: "";
        background: #000;
        height: 1px;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: -100%;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -ms-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s; }

/*------------------------------------------------------------
	Navi
------------------------------------------------------------*/
/*------------------------------------------------------------
	contentc
------------------------------------------------------------*/
#conts {
  width: 580px;
  float: left; }

/*------------------------------------------------------------
	side
------------------------------------------------------------*/
#sideBar {
  padding: 50px 0;
  width: 200px;
  background-color: #efefef;
  float: right; }

/*------------------------------------------------------------
	footer
------------------------------------------------------------*/
footer {
  padding: 15px 0 26px;
  background-color: #f2f2f2;
  margin-top: 66px;
  position: relative; }
  footer .footer-top {
    border-bottom: 1px solid #d2d2d2;
    padding-bottom: 8px; }
    footer .footer-top p {
      float: right;
      font-size: 10px;
      margin-right: 66px;
      line-height: 1.3; }
    footer .footer-top ul {
      float: left;
      margin-top: 10px; }
    footer .footer-top li {
      float: left;
      border-right: 1px solid #413f40;
      overflow: hidden; }
      footer .footer-top li:last-child {
        border-right: none; }
    footer .footer-top a {
      font-size: 12.5px;
      color: #413f40;
      text-decoration: none;
      position: relative;
      overflow: hidden;
      padding: 0 6px; }
      footer .footer-top a:hover:before {
        left: 0; }
      footer .footer-top a:before {
        content: "";
        background: #413f40;
        height: 1px;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: -100%;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -ms-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s; }
  footer .footer-end {
    padding-top: 11px; }
    footer .footer-end-left {
      float: left;
      margin-left: 10px; }
      footer .footer-end-left img {
        width: 327px; }
    footer .footer-end-right {
      float: right;
      margin-right: 55px; }
      footer .footer-end-right img {
        width: 119px; }

/*------------------------------------------------------------
	footer
------------------------------------------------------------*/
@media screen and (max-width: 736px) {
  .md {
    display: none; }
  .sm {
    display: block !important; }
  body {
    min-width: 320px; }
    body img {
      width: 100%; }
  .container {
    width: auto; }
  #header {
    border-top: 1.2rem solid #3d3d3d;
    padding-left: 5.1px;
    position: relative; }
    #header nav {
      position: absolute;
      top: 99%;
      left: 0;
      width: 100%;
      z-index: 9999;
      background: #fff;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 0 10px;
      margin-top: 0;
      display: none; }
      #header nav ul {
        border-left: none;
        display: block; }
      #header nav li {
        border-right: none;
        border-bottom: 1px solid #000;
        font-size: 1.4rem; }
        #header nav li:last-child {
          border-bottom: none; }
      #header nav a {
        width: 100%;
        display: block;
        padding: 10px;
        text-transform: uppercase;
        height: auto;
        text-align: left; }
        #header nav a:hover:before {
          content: none; }
    #header .header-top {
      background: #fff;
      padding: 0; }
    #header .bnt-menu {
      width: 11%;
      height: calc(65px/2);
      text-align: center;
      right: calc(19px/2);
      float: right;
      margin-top: 12px;
      margin-right: 9px;
      margin-bottom: 7px; }
      #header .bnt-menu img {
        width: 100%;
        max-width: calc(83px/2); }
    #header .header-logo {
      margin-top: 9px;
      width: 18%; }
      #header .header-logo img {
        max-width: calc(134px/2);
        width: 100%; }
    #header .header-right {
      float: none; }
      #header .header-right .hearder-logo01 {
        margin-top: 17px;
        width: 59%;
        margin-left: 8px; }
        #header .header-right .hearder-logo01 img {
          max-width: calc(430px/2);
          width: 100%; }
      #header .header-right ul {
        display: none; }
  footer {
    padding: 0 0 77.5px; }
    footer .page-up {
      position: absolute;
      top: -40px;
      right: 2%;
      width: 50px; }
      footer .page-up img {
        width: 100%; }
    footer .footer-top {
      border-bottom: none; }
      footer .footer-top ul {
        display: block;
        float: none;
        margin-top: 0; }
      footer .footer-top li {
        border-bottom: 1px solid #e8e8e8;
        display: block;
        float: none;
        width: 100%;
        border-right: none; }
      footer .footer-top a {
        display: block;
        padding: 7px 15px;
        font-size: 1.4rem; }
        footer .footer-top a:hover:before {
          content: none; }
      footer .footer-top p {
        margin: 19px 14px 10px;
        float: none;
        font-size: 1.2rem;
        line-height: 1.4; }
    footer .footer-end {
      padding-top: 3.5px; }
      footer .footer-end .footer-end-left {
        float: none;
        margin: 0 15px;
        text-align: center; }
        footer .footer-end .footer-end-left img {
          max-width: 346.5px;
          width: 100%; }
      footer .footer-end .footer-end-right {
        margin-right: 28px; }
        footer .footer-end .footer-end-right img {
          width: 138.5px; } }

/*------------------------------------------------------------
	Headline
------------------------------------------------------------*/
/*------------------------------------------------------------
	Button
------------------------------------------------------------*/
