/*------------------------------------------------------------
	Top page
------------------------------------------------------------*/
.l-main {
  margin-top: 15px; }
  .l-main .mainvisual {
    text-align: center;
    margin-bottom: 40px; }
  .l-main .t-text {
    text-align: center;
    font-size: 16px;
    color: #231815;
    margin-top: 40px;
    line-height: 1.8; }
  .l-main .c-collection {
    padding: 0 50px; }
  .l-main .slide-collection {
    width: 520px;
    position: relative; }
    .l-main .slide-collection img {
      width: 100%; }
  .l-main .slide-collection-left {
    float: left; }
  .l-main .slide-collection-right {
    float: right; }
  .l-main .content-collection {
    width: 523px;
    position: relative; }
    .l-main .content-collection .txt {
      margin: 38px 7px 34px;
      line-height: 1.5;
      font-size: 16px; }
    .l-main .content-collection .txt02 {
      margin: 40px 0 134px; }
    .l-main .content-collection .txt03 {
      margin: 40px 7px 111px; }
    .l-main .content-collection select {
      border: 1px solid #000;
      border-radius: 5px;
      width: 388px;
      font-size: 18.6px;
      margin-bottom: 34px;
      margin-left: 10px;
      background: #fff; }
    .l-main .content-collection .bnt {
      border: 1px solid #000;
      border-radius: 5px;
      text-align: center;
      background: url(../img/top/icon1_off.png) no-repeat right 15px center;
      width: 388px;
      font-size: 18.6px;
      margin-bottom: 34px;
      margin-left: 10px;
      -webkit-transition: all .8s;
      -moz-transition: all .8s;
      -ms-transition: all .8s;
      -o-transition: all .8s;
      transition: all .8s; }
      .l-main .content-collection .bnt span {
        font-weight: bold; }
      .l-main .content-collection .bnt:hover {
        background: #000 url(../img/top/icon1_on.png) no-repeat right 15px center; }
        .l-main .content-collection .bnt:hover a {
          color: #fff; }
      .l-main .content-collection .bnt a {
        display: block;
        text-decoration: none;
        color: #000;
        padding: 7px 0; }
    .l-main .content-collection .encoder {
      font-size: 15px;
      margin-left: 8px;
      letter-spacing: 1px; }
    .l-main .content-collection dl {
      display: table;
      margin-top: 10px;
      margin-left: 10px; }
    .l-main .content-collection dt {
      display: table-cell;
      padding-right: 10px;
      padding-bottom: 4px; }
    .l-main .content-collection dd {
      display: table-cell;
      vertical-align: bottom; }
    .l-main .content-collection .text {
      font-size: 20px; }
    .l-main .content-collection .price {
      margin-top: 10px;
      font-size: 12px;
      margin-left: 12px; }
      .l-main .content-collection .price span {
        font-size: 30px; }
        .l-main .content-collection .price span.price2 {
          font-size: 20px; }
    .l-main .content-collection .list_bnt {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-top: 12px; }
      .l-main .content-collection .list_bnt a {
        display: block;
        padding: 7px 0;
        position: relative;
        z-index: 33; }
      .l-main .content-collection .list_bnt li {
        width: 250px;
        margin-right: 7px;
        position: relative; }
        .l-main .content-collection .list_bnt li:hover:before {
          opacity: 1; }
        .l-main .content-collection .list_bnt li:before {
          content: "";
          width: 100%;
          height: 100%;
          border: 1px solid #fff;
          position: absolute;
          top: 0%;
          left: 0%;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          opacity: 0;
          -webkit-transition: all .8s;
          -moz-transition: all .8s;
          -ms-transition: all .8s;
          -o-transition: all .8s;
          transition: all .8s; }
        .l-main .content-collection .list_bnt li:first-child {
          background: #16214d;
          border: 1px solid #16214d; }
          .l-main .content-collection .list_bnt li:first-child a {
            padding-left: 63px; }
        .l-main .content-collection .list_bnt li:last-child {
          background: #171717;
          border: 1px solid #171717;
          margin-right: 0; }
          .l-main .content-collection .list_bnt li:last-child a {
            padding-left: 55px; }
  .l-main .content-collection-right {
    float: right; }
    .l-main .content-collection-right .list_bnt {
      margin-left: 10px; }
  .l-main .content-collection-left {
    float: left; }
    .l-main .content-collection-left .title {
      margin-left: -5px;
      margin-top: 4px; }
    .l-main .content-collection-left .encoder {
      margin-left: 0; }
    .l-main .content-collection-left dl {
      margin-left: 0; }
    .l-main .content-collection-left .price {
      margin-top: 4px; }
    .l-main .content-collection-left .list_bnt {
      margin-left: 5px; }
  .l-main .l-collection01 {
    margin-top: 97px; }
  .l-main .t-shell {
    margin: 40px auto 0;
    background: #eef2f5;
    padding: 72px 62px 72px 74px;
    border-radius: 15px;
    max-width: 1100px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .l-main .t-shell dl {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
    .l-main .t-shell dt {
      width: 417px;
      margin-right: 36px; }
    .l-main .t-shell dd img {
      width: 495px; }
    .l-main .t-shell .title {
      text-align: center;
      margin-bottom: 43px;
      margin-top: 15px;
      margin-left: -8px; }
      .l-main .t-shell .title img {
        width: 202px; }
    .l-main .t-shell .txt {
      font-size: 16px;
      line-height: 2.0; }
    .l-main .t-shell .bnt {
      background: #434151 url(../img/top/icon2_off.png) no-repeat right 15px center;
      width: 390px;
      border: 1px solid #434151;
      border-radius: 5px;
      margin: 37px 0 0 3px;
      text-align: center;
      -webkit-transition: all .8s;
      -moz-transition: all .8s;
      -ms-transition: all .8s;
      -o-transition: all .8s;
      transition: all .8s; }
      .l-main .t-shell .bnt:hover {
        background: #fff url(../img/top/icon2_on.png) no-repeat right 15px center; }
        .l-main .t-shell .bnt:hover a {
          color: #434151; }
      .l-main .t-shell .bnt a {
        text-decoration: none;
        color: #fff;
        display: block;
        font-size: 18px;
        padding: 7px; }
      .l-main .t-shell .bnt span {
        font-weight: bold; }
  .l-main .c-sugoshell {
    margin: 45px 100px 90px;
    background: #dee5ea;
    border-radius: 15px;
    height: 109px;
    position: relative; }
    .l-main .c-sugoshell a:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0; }
    .l-main .c-sugoshell .title {
      text-align: center;
      padding-top: 28px;
      padding-right: 12px; }
    .l-main .c-sugoshell .txt {
      position: absolute;
      left: 55px;
      top: 23px; }
    .l-main .c-sugoshell .link {
      position: absolute;
      right: 29px;
      top: 45px; }
  .l-main .t-sugoshell {
    margin-top: 75px;
    margin-bottom: 73px; }

@media screen and (max-width: 736px) {
  .l-main {
    margin-top: 0; }
    .l-main .mainvisual {
      margin-bottom: calc(43px/2); }
    .l-main .t-text {
      font-size: 1.2rem;
      margin-top: 0;
      padding: 0 10px;
      line-height: 1.5; }
    .l-main .c-collection {
      padding: 0 25px;
      margin-top: calc(76px/2); }
    .l-main .l-collection02 {
      margin-top: 70px; }
    .l-main .content-collection-left .title {
      margin: 0; }
    .l-main .slide-collection {
      width: 100%; }
    .l-main .content-collection {
      width: 100%; }
      .l-main .content-collection .title01 {
        width: calc(339px/2); }
      .l-main .content-collection .title2 {
        width: calc(540px/2); }
      .l-main .content-collection .title3 {
        width: calc(384px/2); }
      .l-main .content-collection .txt {
        margin: 25px 0 10px;
        font-size: 1.2rem; }
      .l-main .content-collection .txt02 {
        margin: 25px 0 20px;
        font-size: 1.2rem; }
      .l-main .content-collection .bnt {
        margin: 0 0 15px;
        width: 100%;
        font-size: 1.55rem;
        border-radius: 3px; }
        .l-main .content-collection .bnt a {
          padding: 5px 0; }
      .l-main .content-collection .encoder {
        font-size: 1rem;
        margin: 0; }
      .l-main .content-collection dl {
        margin: 8px 0 10px; }
      .l-main .content-collection dt {
        padding-right: 5px; }
        .l-main .content-collection dt img {
          width: calc(96px/2); }
      .l-main .content-collection .text {
        font-size: 1.5rem; }
      .l-main .content-collection .price {
        margin: 0;
        font-size: 0.9rem; }
        .l-main .content-collection .price span {
          font-size: 2.05rem; }
          .l-main .content-collection .price span.price2 {
            font-size: 1.4rem; }
      .l-main .content-collection .list_bnt {
        margin: 10px 0 0;
        text-align: center; }
        .l-main .content-collection .list_bnt li {
          width: 100%;
          margin-right: 0;
          margin-bottom: 8px; }
          .l-main .content-collection .list_bnt li:first-child img {
            width: calc(187px/2);
            margin: auto; }
          .l-main .content-collection .list_bnt li:first-child a {
            padding: 12px 0 10px 15px;
            line-height: 1.0; }
          .l-main .content-collection .list_bnt li:last-child img {
            width: calc(232px/2);
            margin: auto; }
          .l-main .content-collection .list_bnt li:last-child a {
            padding: 10px 0 10px 20px;
            line-height: 1.0; }
    .l-main .t-shell {
      margin: 32px 25px 0;
      padding: 24px 15px; }
      .l-main .t-shell dl {
        display: block; }
      .l-main .t-shell dt {
        width: 100%; }
      .l-main .t-shell dd {
        margin-top: 18px; }
        .l-main .t-shell dd img {
          width: 100%; }
      .l-main .t-shell .title {
        margin: 0 0 30px;
        text-align: center; }
        .l-main .t-shell .title img {
          width: calc(251px/2); }
      .l-main .t-shell .txt {
        font-size: 1.2rem;
        line-height: 1.45; }
      .l-main .t-shell .bnt {
        width: 100%;
        margin: 16px 0 0;
        background: #434151 url(../img/top/icon2_off.png) no-repeat right 5px center;
        background-size: 6px auto; }
        .l-main .t-shell .bnt a {
          font-size: 1.2rem;
          letter-spacing: -0.5px; }
    .l-main .c-sugoshell-sp {
      margin: 25px 25px 63px; }
    .l-main .c-collection-sp {
      margin: 43px 25px 0; } }
