@charset "UTF-8";
@import "vars";	// 変数 Variable
@import "functions"; // 関数等 Function
/*------------------------------------------------------------
	Top page
------------------------------------------------------------*/
.mainvisual {
	background: url(../img/top/bg_slide.png) repeat-x center center;
	position: relative;
	&:after{
		content: "";
		background: url(../img/top/bg_slide1.png) no-repeat bottom center;
		width: 100%;
		height: 430px;
		position: absolute;
		bottom: 0;
		left: 0;
	}
	.inner {
		height: 431px;
		padding-top: 35px;
		box-sizing: border-box;
	}
	.img {
		position: absolute;
		right: -180px;
		bottom: 0;
	}
	.table {
		width: 537px;
		float: left;
		margin-left: -10px;
		img {
			width: 100%;
		}
	}
	.mainvisual-inner {
		width: 470px;
		float: right;
		position: relative;
		z-index: 99;
		ul {
			float: left;
			margin-top: 29px;
		}
		li {
			margin-bottom: 31px;
			width: 225px;
			img {
				width: 100%;
			}
		}
	}
	.mainvisual-box {
		float: right;
		background: url(../img/top/manvisual_02_pc.png) no-repeat top center;
		width: 207px;
		margin-top: 20px;
		height: 240px;
		box-sizing: border-box;
		padding: 42px 35px;
		margin-right: 10px;
		.title {
			border-bottom: 1px solid #BFBFBF;
			padding-bottom: 19px;
			margin-bottom: 23px;
		}
		.txt {
			font-size: 13px;
		}
		.name {
			font-size: 17px;
			font-weight: bold;
			line-height: 1.0;
			span {
				font-size: 14px;
			}
		}
		.text-pt {
			font-size: 24px;
			font-weight: bold;
			color: #f07d83;
			margin-top: 6px;
			letter-spacing: 3px;
		}
	}
}
@media screen and (max-width: 767px) {
	.mainvisual {
		background: url(../img/top/sp/mavisua_bg.png) repeat top center;
		background-size: calc(137px/2) auto;
		position: relative;
		padding-bottom: 0px;
		&:after{
			content: "";
			background: url(../img/top/sp/line.png) repeat-x bottom center;
			background-size: calc(121px/2) auto;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 10px;
		}
		&:before{
			content: "";
			background: url(../img/top/sp/line.png) repeat-x top center;
			background-size: calc(121px/2) auto;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 10px;
		}
		.inner {
			height: auto;
			padding: calc(26px/2) calc(24px/2) calc(24px/2);
			box-sizing: border-box;
		}
		.table {
			max-width: 591px;
			width: auto;
			float: none;
			margin: auto;
			text-align: center;
		}
		.mainvisual-inner {
			margin: auto;
			float: none;
			max-width: 591px;
			width: auto;
			padding: 0 9px;
			box-sizing: border-box;
			display: flex;
			justify-content: center;
			ul {
				margin-top: calc(37px/2);
				margin-right: 16px;
			}
			li {
				margin-bottom: calc(29px/2);
				width: auto;
			}
		}
		.mainvisual-box {
			float: right;
			background: none;
			margin-top: calc(24px/2);
			margin-right: 0;
			padding: 0;
			height: auto;
		}
	}
}
// mainvisual
.content-top {
	width: 1000px;
	margin: auto;
}
@media screen and (max-width: 767px) {
	.content-top {
		width: auto;
	}
}
// content-top
.l-program {
	margin-top: 93px;
	.title {
		width: 348px;
		margin-bottom: 20px;
		padding-left: 2px;
		img {
			width: 100%;
		}
	}
	.img {
		float: right;
		margin-right: 65px;
		margin-left: 48px;
		margin-top: 12px;
	}
	.txt{
		font-size: 16px;
		line-height: 2;
		text-align: left;
		display: block;
	}
}
@media screen and (max-width: 767px) {
	.l-program {
		margin-top: calc(58px/2);
		padding: 0 calc(40px/2);
		.title {
			width: calc(429px/2);
			margin-bottom: calc(43px/2);
			padding-left: 0;
		}
		.img {
			float: none;
			margin: 0 calc(10px/2) calc(41px/2);
			width: 85%;
		}
		.txt{
			font-size: calc(24px/2);
			line-height: calc(44.5px/2);
			text-align: left;
			display: block;
		}
	}
}
// l-program
.l-accumulate {
	margin-top: 67px;
	.title {
		width: 247px;
		padding-left: 5px;
		img {
			width: 100%;
		}
	}
	ul {
		display: flex;
		flex-wrap: wrap;
		text-align: left;
		li {
			border: 1px solid #f07d83;
			position: relative;
			margin-right: 35px;
			margin-top: 35px;
			width: 310px;
			box-sizing: border-box;
			&:nth-child(3n) {
				margin-right: 0;
			}
		}
	}
	.sec {
			padding: 25px 23px 11px;
			height: 140px;
			box-sizing: border-box;
		p {
			font-size: 15px;
			margin-top: 10px;
			letter-spacing: -0.5px;
		}
	}
	.tag {
		position: absolute;
		top: -27px;
		right: -7px;
	}
	.box {
		background: #f4f4f4;
		height: 97px;
		padding: 0 17px;
		display: flex;
		align-items: center;
	}
}
@media screen and (max-width: 767px) {
	.l-accumulate {
		margin-top: calc(50px/2);
		padding: 0 calc(40px/2);
		.title {
			width: calc(309px/2);
			padding-left: 0;
			margin-bottom: calc(47px/2);
		}
		ul {
			li {
				margin-right: 3%;
				margin-top: 3%;
				width: 48.5%;
				float: left;
				border: 1px solid #f07d83;
				padding-bottom: calc(89px/2);
				position: relative;
				&:nth-child(3n) {
					margin-right: 3%;
				}
				&:nth-child(2n) {
					margin-right: 0;
				}
				&:nth-child(1) {
					.title-h4 {
						width: calc(177px/2);
					}
					.txt-box {
						width: calc(188.6px/2);
					}
				}
				&:nth-child(2) {
					.title-h4 {
						width: calc(235.5px/2)
					}
					.txt-box {
						width: calc(233.8px/2);
					}
				}
				&:nth-child(3) {
					.title-h4 {
						width: calc(161.6px/2);
					}
					.txt-box {
						width: calc(231.1px/2);
					}
				}
				&:nth-child(4) {
					.title-h4 {
						width: calc(212px/2);
					}
					.txt-box {
						width: calc(196.4px/2);
					}
				}
				&:nth-child(5) {
					.title-h4 {
						width: calc(186.2px/2);
					}
					.txt-box {
						width: calc(213.8px/2);
					}
				}
				&:nth-child(6) {
					.title-h4 {
						width: calc(219px/2);
					}
					.txt-box {
						width: calc(237.9px/2);
					}
				}
			}
		}
		.sec {
				padding: calc(19px/2) calc(16px/2);
				height: auto;
				box-sizing: border-box;
			p {
				font-size: calc(24px/2);
				margin-top: calc(18px/2);
				letter-spacing: 0;
				line-height: calc(28.5px/2);
			}
		}
		.tag {
			position: absolute;
			top: -25px;
			right: -4px;
			img {
				width: calc(71.9px/2);
			}
		}
		.box {
			height: calc(89px/2);
			padding: 0 calc(15px/2);
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			box-sizing: border-box;
		}
	}
}
// l-accumulate
.l-moisture {
	margin-top: 90px;
	.title {
		text-align: center;
		width: 431px;
		margin: 0 auto 30px;
		img {
			width: 100%;
		}
	}
	ul {
		display: flex;
		flex-wrap: wrap;
	}
	li {
		width: 485px;
		margin-right: 30px;
		height: 260px;
		border: 1px solid #f07d83;
		padding: 20px 5px 20px 20px;
		font-size: 16px;
		text-align: left;
		box-sizing: border-box;
		color: #323232;
		position: relative;
		&:last-child{
			margin-right: 0;
		}
		.img {
			float: left;
			margin-right: 20px;
		}
		.title-h4 {
			padding-top: 16px;
			margin-bottom: 10px;
			overflow: hidden;
		}
		.bnt {
			position: absolute;
			right: 30px;
			bottom: 28px;
			width: 175px;
			img{
				width: 100%;
			}
		}
		.txt {
			font-size: 12px;
		}
		.title-h5 {
			font-size: 14px;
			color: #EF7C82;
			font-weight: bold;
			margin-top: 3px;
			line-height: 1.5;
		}
	}
}
@media screen and (max-width: 767px) {
	.l-moisture {
		margin-top: calc(76px/2);
		padding: 0 calc(40px/2);
		.title {
			width: calc(536.3px/2);
			margin: 0 auto calc(30px/2);
		}
		ul {
			display: block;
		}
		li {
			width: 100%;
			margin-right: 0;
			height: auto;
			border: 1px solid #f07d83;
			padding: calc(35px/2);
			font-size: calc(24px/2);
			text-align: center;
			line-height: calc(32.5px/2);
			&:first-child {
				.title-h4 {
					width: calc(411.7px/2);
				}
			}
			&:last-child {
				margin-right: 0;
				margin-top: calc(26px/2);
				.title-h4 {
					width: calc(471.2px/2);
				}
			}
			.img {
				float: none;
				margin-right: 0px;
			}
			.img_mois1 {
				width: calc(228px/2);
				margin: auto;
			}
			.img_mois2 {
				width: calc(326px/2);
				margin: auto;
			}
			.title-h4 {
				padding-top: calc(25px/2);
				margin: 0 auto calc(20px/2);
				overflow: hidden;
			}
			.bnt {
				float: none;
				width: calc(350px/2);
				margin: calc(25px/2) auto 0;
				position: relative;
				right: 0;
				bottom: 0;
				img{
					width: 100%;
				}
			}
			.txt {
				font-size: calc(24px/2);
				line-height: calc(32.5px/2);
			}
			.title-h5 {
				font-size: calc(28px/2);
				margin-top: calc(28px/2);
				line-height: calc(36.5px/2);
			}
		}
	}
}
// l-moisture
.l-exchange {
	margin-top: 75px;
	border: 1px solid #E3AA13;
	padding: 32px 37px 58px;
	.title {
		width: 309px;
		margin-bottom: 30px;
		img {
			width: 100%;
		}
	}
	.img {
		float: left;
		margin: 10px 42px 0 15px;
	}
	.title-h4 {
		margin-bottom: 15px;
	}
	.txt {
		font-size: 16px;
		line-height: 1.7;
	}
	.inner {
		margin-top: 51px;
		font-size: 16px;
		margin-bottom: 16px;
	}
	.inner2{
		margin-top: 40px;
	}
	.tag01 {
		margin-right: 10px;
		img {
			height: 24px;
		}
	}
	.method {
		display: flex;
		flex-wrap: wrap;
		& > li {
			width: 445px;
			margin-right: 30px;
			font-size: 16px;
			padding: 18px 24px 14px;
			box-sizing: border-box;
			&:last-child{
				margin-right: 0;
			}
		}
	}
	.method-web {
		border: 1px solid #53A8FF;
		.title-web {
			width: 203px;
			margin-bottom: 10px;
			img {
				width: 100%;
			}
		}
		ul {
			margin-top: 35px;
			text-align: center;
			margin-left: 12px;
			li {
				float: left;
				&:first-child {
					margin-right: 15px;
				}
			}
		}
	}
	.method-tel {
		border: 1px solid #5CC23E;
		.title-tel {
			width: 197px;
			margin-bottom: 2px;
			img {
				width: 100%;
			}
		}
		a {
			text-decoration: none;
			color: #000;
		}
		dl {
			margin-top: 17px;
			display: table;
			margin-bottom: 5px;
			dt {
				display: table-cell;
			}
			dd {
				display: table-cell;
				vertical-align: bottom;
				padding-left: 13px;
				padding-top: 11px;
				font-size: 12px;
			}
		}
		.text {
			font-size: 13px;
		}
	}
	.method02 {
		dl {
			display: table;
			font-size: 17px;
		}
		dt {
			color: #E3AA13;
			display: table-cell;
		}
		dd {
			display: table-cell;
		}
	}
	.method03 {
		margin-top: 20px;
		dl{
			display: table;
			width: 100%;
		}
		dt {
			display: table-cell;
			color: #E3AA13;
			font-weight: bold;
			font-size: 16px;
			width: 250px;
		}
		.tel {
			margin-left: 5px;
			margin-top: 9px;
		}
		dd {
			display: table-cell;
			vertical-align: middle;
			padding-top: 25px;
			font-size: 15px;
			span{
				font-size: 12px;
			}
		}
	}
}
@media screen and (max-width: 767px) {
	.l-exchange {
		margin-top: calc(78px/2);
		padding: 0 calc(40px/2);
		border: none;
		.title {
			width: calc(474.7px/2);
			margin-bottom: calc(44px/2);
		}
		.title-h4 {
			margin-bottom: calc(30px/2);
			width: calc(508.7px/2);
		}
		.txt {
			font-size: calc(24px/2);
			line-height: calc(44.5px/2);
		}
		.inner {
			margin-top: calc(46px/2);
			font-size: calc(24px/2);
			line-height: calc(44.5px/2);
			margin-bottom: calc(10px/2);
		}
		.inner2{
			margin-top: calc(68px/2);
		}
		.tag01 {
			margin-right: 0;
			display: block;
			margin-bottom: calc(18px/2);
			img {
				height: calc(46.08px/2);
				width: auto;
			}
		}
		.method {
			display: block;
			& > li {
				width: 100%;
				margin-right: 0;
				font-size: calc(24px/2);
				padding: calc(23px/2) calc(17px/2) calc(29px/2);
			}
		}
		.method-web {
			border: 1px solid #53A8FF;
			margin-bottom: calc(25px/2);
			.title-web {
				width: calc(255px/2);
				margin-bottom: calc(22px/2);
			}
			.txt-web {
				margin-left: -7px;
				letter-spacing: -1px;
			}
			ul {
				margin-top: calc(27px/2);
				text-align: center;
				margin-left: 0;
				li {
					float: right;
					width: 48%;
					&:first-child {
						margin-right: 0;
						float: left;
					}
				}
			}
		}
		.method-tel {
			border: 1px solid #5CC23E;
			.txt-tel {
				letter-spacing: -1px;
			}
			.title-tel {
				width: calc(249.3px/2);
				margin-bottom: calc(10px/2);
			}
			.img-tel {
				width: calc(283.8px/2);
				margin-bottom: calc(12px/2);
			}
			dl {
				margin-top: calc(18px/2);
				display: block;
				margin-bottom: 0;
				dt {
					display: block;
				}
				dd {
					display: block;
					padding: calc(25px/2) calc(13px/2) 0;
					font-size: calc(24px/2);
					line-height: calc(36.5px/2);
				}
			}
			.text {
				font-size: calc(24px/2);
				line-height: calc(32.5px/2);
				padding-left: calc(13px/2);
				span {
					margin-left: -7px;
				}
			}
		}
		.method02 {
			margin-bottom: calc(76px/2);
			dl {
				display: block;
				font-size: calc(28px/2);
				line-height: calc(40.5px/2);
				font-weight: bold;
				margin-top: calc(30px/2);
			}
			dt {
				display: block;
			}
			dd {
				display: block;
			}
		}
		.method03 {
			margin-top: calc(22px/2);
			dl{
				display: block;
			}
			dt {
				display: block;
				font-size: calc(32px/2);
				width: 100%;
			}
			.tel {
				margin: 0;
			}
			dd {
				display: block;
				padding-top: calc(15px/2);
				font-size: calc(24px/2);
				line-height: calc(32.5px/2);
				span{
					font-size: calc(24px/2);
				}
			}
		}
	}
}
// l-exchange
.l-faq {
	margin-top: 93px;
	.title {
		width: 207px;
		margin-bottom: 30px;
		img {
			width: 100%;
		}
	}
	dl {
		border: 1px solid #bfbfbf;
		margin-bottom: 20px;
		dt {
			background: #f4f4f4 url(../img/top/q.png) no-repeat left 16px top 15px;
			background-size: 26px auto;
			padding: 11px 15px 10px 60px;
			font-size: 18px;
			color: #4C4C4C;
			position: relative;
			cursor: pointer;
			&:after {
				content: "";
				background: url(../img/top/icon_up.png) no-repeat center center;
				background-size: 19px auto;
				width: 19px;
				height: 16px;
				position: absolute;
				top: 18px;
				right: 14px;
			}
			&.opened:after{
				content: "";
				background: url(../img/top/icon_dow.png) no-repeat center center;
				background-size: 19px auto;
			}
		}
		dd {
			background: #fff url(../img/top/a.png) no-repeat left 16px top 25px;
			background-size: 27px auto;
			padding: 20px 15px 30px 60px;
			font-size: 14px;
			color: #4C4C4C;
			display: none;
		}
		.title-h4 {
			font-size: 16px;
			font-weight: bold;
			color: #37ABFF;
			margin: 20px 0 10px;
		}
	}
}
@media screen and (max-width: 767px) {
	.l-faq {
		margin-top: calc(78px/2);
		border-bottom: 1px solid #bfbfbf;
		.title {
			width: calc(257px/2);
			margin: 0 auto calc(32px/2)
		}
		dl {
			border-top: 1px solid #bfbfbf;
			border-left: none;
			border-bottom: none;
			border-right: none;
			margin-bottom: 0px;
			dt {
				background: #f4f4f4 url(../img/top/q.png) no-repeat left calc(34px/2) top calc(34px/2);
				background-size: calc(44.9px/2) auto;
				padding: calc(36px/2) calc(59px/2) calc(26px/2) calc(94px/2);
				font-size: calc(28px/2);
				line-height: calc(33px/2);
				&:after {
					content: "";
					background: url(../img/top/icon_up.png) no-repeat center center;
					background-size: calc(29.3px/2) auto;
					width: calc(29.3px/2);
					height: calc(25.3px/2);
					top: calc(36px/2);
					right: calc(20px/2);
				}
				&.opened:after{
					content: "";
					background: url(../img/top/icon_dow.png) no-repeat center center;
					background-size: calc(29.3px/2) auto;
				}
			}
			dd {
				background: #fff url(../img/top/a.png) no-repeat left calc(34px/2) top calc(34px/2);
				background-size:  calc(44px/2) auto;
				padding: calc(36px/2) calc(59px/2) calc(26px/2) calc(94px/2);
				font-size: calc(24px/2);
			}
			.title-h4 {
				font-size: calc(24px/2);
				font-weight: bold;
				color: #37ABFF;
				margin: 20px 0 10px;
			}
		}
	}
}
// l-faq
.c-banner {
	margin-top: 70px;
	border: 1px solid #f07d83;
	padding: 30px;
	dl {
		display: table;
		width: 100%;
		dt {
			display: table-cell;
		}
		dd {
			display: table-cell;
			vertical-align: bottom;
			font-size: 15px;

		}
	}
}
@media screen and (max-width: 767px) {
	.c-banner {
		margin: calc(88px/2) calc(40px/2) 0;
		border: 1px solid #f07d83;
		padding: calc(40px/2) calc(37px/2);
		dl {
			display: block;
			dt {
				display: block;
			}
			dd {
				display: block;
				font-size: calc(24px/2);
				line-height: calc(34px/2);
				margin-top: calc(16px/2);
			}
		}
		.title {
			width: calc(300px/2);
			margin-bottom: 10px;
		}
		.txt-box {
			width: calc(287.8px/2);
			margin-bottom: 0;
		}
	}
}
// c-banner