@charset "UTF-8";
// レイアウト用css for Layout
// Can use id, If you use class Please adding prefix .l- 
/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
	min-width: 1010px;
	/* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
	line-height: 1.5;
	font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

.container {
	margin: 0 auto;
	width: 1010px;
	text-align: left;
	position: relative;
}

.l-main {
	margin-bottom: 10px;
	font-size: 1.4rem;
	@include cf;
	// @extend %cf;
}
.sm{
	display: none !important;
}
.trans {
	-webkit-transition: all 0.8s;
	   -moz-transition: all 0.8s;
	    -ms-transition: all 0.8s;
	     -o-transition: all 0.8s;
	        transition: all 0.8s;
	&:hover {
		opacity: 0.7;
	}
}
/*------------------------------------------------------------
	header
------------------------------------------------------------*/
header {
	padding: 14px 0;
	.header_logo {
		width: 142px;
		float: left;
		padding-left: 3px;
		img {
			width: 100%;
		}
	}
	ul {
		float: right;
		margin-top: 8px;
		display: flex;
		flex-wrap:wrap;
		a{
			padding-bottom: 2px;
			&:hover {
				&:before {
					left: 0;
				}
				&:after {
					right: 0;
				}
			}
			&:before {
				content: "";
				width: 50%;
				height: 1px;
				-webkit-transition: all 0.5s;
					-moz-transition: all 0.5s;
						-ms-transition: all 0.5s;
				 			-o-transition: all 0.5s;
				    		transition: all 0.5s;
				background: #ef7c83;
				position: absolute;
				bottom: 1px;
				left: -100%;
			}
			&:after {
				content: "";
				width: 50%;
				height: 1px;
				-webkit-transition: all 0.5s;
					-moz-transition: all 0.5s;
						-ms-transition: all 0.5s;
				 			-o-transition: all 0.5s;
				    		transition: all 0.5s;
				background: #e3ab13;
				position: absolute;
				bottom: 1px;
				right: -100%;
			}
		}
	}
	li {
		margin: 0 0 0 25px;
		display: flex;
		flex-wrap:wrap;
		&:last-child {
			margin-right: 13px;
		}
	}
	a {
		font-size: 17px;
		color: #323232;
		text-decoration: none;
		display: flex;
		align-items: center;
		position: relative;
		overflow: hidden;
		i {
			display: flex;
			margin-right: 4px;
		}
		.mr00{
			margin-right: 0;
		}
	}
}
@media screen and (max-width: 767px) {
	header {
		padding: 0;
		.in-header{
			padding: 1.7rem 1.4rem 0.9rem;
		}
		.header_logo {
			width: 23.2rem;
			float: none;
			padding-left: 0px;
			margin: auto;
			padding-right: 2.2rem;
		}
		.mypage {
			font-size: 1.8rem;
			text-align: center;
			float: left;
			background: url(../img/icon_nav05_sp.png) no-repeat top center;
			background-size: 3.8rem auto;
			padding: 5.5rem 0 0;
			position: absolute;
			left: 1.4rem;
			top: 1.7rem;
			a {
				font-size: 1.8rem;
				padding: 0;
				font-weight: bold;
				line-height: 2.889rem;
			}
		}
		.bnt-menu {
			width: 6.45rem;
			position: absolute;
			right: 1.4rem;
			top: 2.5rem;
			cursor: pointer;
			background: url(../img/bnt_menu.png) no-repeat top center;
			background-size: 6.4rem auto;
			width: 6.4rem;
			height: 6.04rem;
			&.is-active {
				background: url(../img/bnt_menu_active.png) no-repeat top center;
				background-size: 6.45rem auto;
			}
		}
		nav {
			display: none;
			width: 100%;
			position: absolute;
			top: 100%;
			margin: 0;
			left: 0;
			background:#fff;
			z-index: 9999;
			padding: 0 1.2rem;
		}
		ul {
			float: none;
			margin: 0px;
			display: block;
			a{
				padding-bottom: 1rem;
				&:hover {
					&:before {
						content: none;
					}
					&:after {
						content: none;
					}
				}
			}
		}
		li {
			margin: 0;
			display: block;
			border-bottom: 1px solid #323232;
			&:last-child {
				margin-right: 0;
				border-bottom: none;
			}
		}
		a {
			font-size: 2.6rem;
			display: block;
			padding: 1rem;
			i {
				display: none;
			}
		}
	}
}
/*------------------------------------------------------------
	header
------------------------------------------------------------*/
footer {
	margin-top: 130px;
	background: #F3F3F3 url(../img/line.png) repeat-x top center;
	padding-top: 47px;
	.in-footer {
		padding-bottom: 20px;
		border-bottom: 1px solid #D8D8D8;
		margin-bottom: 35px;
	}
	.nav-footer {
		text-align: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		ul {
			margin: 0 25px;
			vertical-align: middle;
			text-align: left;
			&:first-child {
				margin-left: 0;
			}
			&:nth-child(2) {
				border-left: 1px solid #D8D8D8;
				padding: 0 0px 0 40px;
    		margin-right: 15px;
			}
			&:nth-child(3) {
				border-left: 1px solid #D8D8D8;
				padding-left: 30px;
			}
			&:last-child {
				border-left: 1px solid #D8D8D8;
				padding-left: 35px;
			}
		}
		li {
			margin-bottom: 2px;
		}
		.active {
			a{
				color: #999999;
			}
		}
		a {
			color: #323232;
			text-decoration: none;
			font-size: 15px;
			&:hover {
				color: #999999;
			}
		}
	}
	.footer-logo {
		text-align: center;
		margin: 21px;
	}
	.end-footer {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding-bottom: 55px;
		align-items: center;
		a {
			font-size: 14px;
			text-decoration: none;
			color: #323232;
			display: flex;
			align-items: center;
		}
		img {
			width: 100%;
		}
		ul {
			display: flex;
			align-items: center;
		}
		li {
			margin: 0 6px;
		}
		.face {
			width: 28px;
		}
		.twice {
			width: 39px;
		}
		.youtube {
			width: 55px;
		}
		.blog {
			width: 40px;
		}
		.link {
			margin: 0 12px;
		}
		.coppyright {
	    font-size: 15px;
	    color: #999999;
	    margin-left: 6px;
		}
	}
	.btn-top{
		width: 50px;
	  height: 51px;
	  position: fixed;
	  right: 20px;
	  bottom: 20px;
	  z-index: 10000;
	  cursor: pointer;
	}
}
@media screen and (max-width: 767px) {
	footer {
		margin-top: 7.6rem;
		background: #F3F3F3 url(../img/top/sp/line1.png) repeat-x top center;
		background-size: 8.3rem auto;
		padding: 7.8rem 4rem 0 5rem;
		.in-footer {
			padding-bottom: 3.5rem;
			border-bottom: 1px solid #D8D8D8;
			margin-bottom: 3.2rem;
		}
		.nav-footer {
			ul {
				margin: 0;
				text-align: left;
				float: left;
				width: 22.5rem;
				margin-bottom: 4rem;
				&:nth-child(2n) {
					border-left: 1px solid #D8D8D8;
					padding: 0 0px 0 2rem;
	    		margin-right: 0;
	    		width: 32.5rem;
	    		box-sizing: border-box;
				}
				&:nth-child(3) {
					border-left: none;
					padding-left: 0;
				}
				&:last-child {
					border-left: 1px solid #D8D8D8;
					padding: 0 0px 0 2.4rem;
				}
			}
			li {
				margin-bottom: 0px;
			}
			a {
				font-size: 3rem;
				line-height: 4.937rem;
			}
		}
		.footer-logo {
			text-align: center;
			margin: auto;
			width: 37.21rem;
		}
		.end-footer {
			display: block;
			padding-bottom: 5rem;
			img {
				width: 100%;
			}
			ul {
				display: flex;
				align-items: center;
				justify-content: center;
			}
			li {
				margin: 0 2rem;
			}
			.face {
				width: 5.32rem;
			}
			.twice {
				width: 6.91rem;
				margin-right: 0.9rem;
			}
			.youtube {
				width: 9.77rem;
				margin-left: 0.9rem;
			}
			.blog {
				width: 7rem;
			}
			.coppyright {
		    font-size: 2.6rem;
		    letter-spacing: -0.2rem;
		    line-height: 3.355rem;
		    color: #999999;
		    margin-left: 0px;
		    text-align: center;
		    margin-top: 4.4rem;
			}
		}
		.btn-top{
			width: 35px;
		  height: 35px;
		  position: fixed;
		  right: 5px;
		  bottom: 5px;
		  z-index: 10000;
		  cursor: pointer;
		}
	}
}
/*------------------------------------------------------------
	footer
------------------------------------------------------------*/

@media screen and (max-width: 767px) {
	.md{
		display: none;
	}
	.sm{
		display: block !important;
	}
	html {
		font-size: 1.5625vw;
	}
	body {
		min-width: 320px;
		width: 100%;
		img {
			width: 100%;
		}
	}
	.container {
		width: auto;
	}
}
