@charset "UTF-8";
@import "vars";	// 変数 Variable
@import "functions"; // 関数等 Function
/*------------------------------------------------------------
	Top page
------------------------------------------------------------*/
.mainvisual {
	background: url(../img/top/bg_slide.png) repeat-x center center;
	position: relative;
	&:after{
		content: "";
		background: url(../img/top/bg_slide1.png) no-repeat bottom center;
		width: 100%;
		height: 430px;
		position: absolute;
		bottom: 0;
		left: 0;
	}
	.inner {
		height: 431px;
		padding-top: 35px;
		box-sizing: border-box;
	}
	.img {
		position: absolute;
		right: -180px;
		bottom: 0;
	}
	.table {
		width: 537px;
		float: left;
		margin-left: -10px;
		img {
			width: 100%;
		}
	}
	.mainvisual-inner {
		width: 470px;
		float: right;
		position: relative;
		z-index: 99;
		ul {
			float: left;
			margin-top: 29px;
		}
		li {
			margin-bottom: 31px;
			width: 225px;
			img {
				width: 100%;
			}
		}
	}
	.mainvisual-box {
		float: right;
		background: url(../img/top/manvisual_02_pc.png) no-repeat top center;
		width: 207px;
		margin-top: 20px;
		height: 240px;
		box-sizing: border-box;
		padding: 42px 35px;
		margin-right: 10px;
		.title {
			border-bottom: 1px solid #BFBFBF;
			padding-bottom: 19px;
			margin-bottom: 23px;
		}
		.txt {
			font-size: 13px;
		}
		.name {
			font-size: 17px;
			font-weight: bold;
			line-height: 1.0;
			span {
				font-size: 14px;
			}
		}
		.text-pt {
			font-size: 24px;
			font-weight: bold;
			color: #f07d83;
			margin-top: 6px;
			letter-spacing: 3px;
		}
	}
}
@media screen and (max-width: 767px) {
	.mainvisual {
		background: url(../img/top/sp/mavisua_bg.png) repeat top center;
		background-size: 13.7rem auto;
		position: relative;
		&:before{
			content: "";
			background: url(../img/top/sp/line.png) repeat-x top center;
			background-size: 12.1rem auto;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 10px;
		}
		&:after{
			content: "";
			background: url(../img/top/sp/line.png) repeat-x bottom center;
			background-size: 12.1rem auto;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 10px;
		}
		.inner {
			height: auto;
			padding: 2.6rem 2.4rem 2.4rem;
			box-sizing: border-box;
		}
		.table {
			max-width: 59.1rem;
			width: auto;
			float: none;
			margin: auto;
			text-align: center;
		}
		.mainvisual-inner {
			width: 55.9rem;
			margin: auto;
			float: none;
			padding: 0;
			ul {
				margin-top: 3.7rem;
				width: 27.6rem;
			}
			li {
				margin-bottom: 2.9rem;
				width: auto;
			}
		}
		.mainvisual-box {
			float: right;
			background: url(../img/top/sp/manvisual_02_sp.png) no-repeat top center;
			background-size: 100% auto;
			width: 25.3rem;
			margin-top: 2.4rem;
			margin-right: 0;
			height: 27.9rem;
			padding: 4rem 4.5rem;
			.title {
				padding-bottom: 1.5rem;
				margin-bottom: 1.3rem;
			}
			.txt {
				font-size: 2rem;
				line-height: 2.352rem;
			}
			.name {
				font-size: 2.2rem;
				margin-top: 1rem;
				span {
					font-size: 1.85rem;
				}
			}
			.text-pt {
				font-size: 3.6rem;
				margin-top: 1.4rem;
				letter-spacing: 3px;
				line-height: 1;
			}
		}
	}
}
// mainvisual
.content-top {
	width: 1000px;
	margin: auto;
}
@media screen and (max-width: 767px) {
	.content-top {
		width: auto;
	}
}
// content-top
.l-program {
	margin-top: 93px;
	.title {
		width: 348px;
		margin-bottom: 20px;
		padding-left: 2px;
		img {
			width: 100%;
		}
	}
	.img {
		float: right;
		margin-right: 65px;
		margin-left: 48px;
		margin-top: 12px;
	}
	.txt{
		font-size: 16px;
		line-height: 2;
		text-align: left;
		display: block;
	}
}
@media screen and (max-width: 767px) {
	.l-program {
		margin-top: 5.8rem;
		padding: 0 4rem;
		.title {
			width: 42.9rem;
			margin-bottom: 4.3rem;
			padding-left: 0;
		}
		.img {
			float: none;
			margin: 0 1rem 4.1rem;
			width: 49.991rem;
		}
		.txt{
			font-size: 2.4rem;
			line-height: 4.45rem;
			text-align: left;
			display: block;
		}
	}
}
// l-program
.l-accumulate {
	margin-top: 67px;
	.title {
		width: 247px;
		padding-left: 5px;
		img {
			width: 100%;
		}
	}
	ul {
		display: flex;
		flex-wrap: wrap;
		text-align: left;
		li {
			border: 1px solid #f07d83;
			position: relative;
			margin-right: 35px;
			margin-top: 35px;
			width: 310px;
			box-sizing: border-box;
			&:nth-child(3n) {
				margin-right: 0;
			}
		}
	}
	.sec {
			padding: 25px 23px 11px;
			height: 140px;
			box-sizing: border-box;
		p {
			font-size: 15px;
			margin-top: 10px;
			letter-spacing: -0.5px;
		}
	}
	.tag {
		position: absolute;
		top: -27px;
		right: -7px;
	}
	.box {
		background: #f4f4f4;
		height: 97px;
		padding: 0 17px;
		display: flex;
		align-items: center;
	}
}
@media screen and (max-width: 767px) {
	.l-accumulate {
		margin-top: 5rem;
		padding: 0 4rem;
		.title {
			width: 30.9rem;
			padding-left: 0;
			margin-bottom: 4.7rem;
		}
		ul {
			li {
				margin-right: 3%;
				margin-top: 3%;
				width: 48.5%;
				float: left;
				border: 1px solid #f07d83;
				padding-bottom: 8.9rem;;
				&:nth-child(3n) {
					margin-right: 3%;
				}
				&:nth-child(2n) {
					margin-right: 0;
				}
				&:nth-child(1) {
					.title-h4 {
						width: 17.7rem;
					}
					.txt-box {
						width: 18.86rem;
					}
				}
				&:nth-child(2) {
					.title-h4 {
						width: 23.55rem
					}
					.txt-box {
						width: 23.38rem;
					}
				}
				&:nth-child(3) {
					.title-h4 {
						width: 16.16rem;
					}
					.txt-box {
						width: 23.11rem;
					}
				}
				&:nth-child(4) {
					.title-h4 {
						width: 21.2rem;
					}
					.txt-box {
						width: 19.64rem;
					}
				}
				&:nth-child(5) {
					.title-h4 {
						width: 18.62rem;
					}
					.txt-box {
						width: 21.38rem;
					}
				}
				&:nth-child(6) {
					.title-h4 {
						width: 21.9rem;
					}
					.txt-box {
						width: 23.79rem;
					}
				}
			}
		}
		.sec {
				padding: 1.9rem 1.6rem;
				height: auto;
				box-sizing: border-box;
			p {
				font-size: 2.4rem;
				margin-top: 1.8rem;
				letter-spacing: 0;
				line-height: 2.85rem;
			}
		}
		.tag {
			position: absolute;
			top: -5rem;
			right: -0.8rem;
			img {
				width: 7.19rem;
			}
		}
		.box {
			height: 8.9rem;
			padding: 0 1.5rem;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			box-sizing: border-box;
		}
	}
}
// l-accumulate
.l-moisture {
	margin-top: 90px;
	.title {
		text-align: center;
		width: 431px;
		margin: 0 auto 30px;
		img {
			width: 100%;
		}
	}
	ul {
		display: flex;
		flex-wrap: wrap;
	}
	li {
		width: 485px;
		margin-right: 30px;
		height: 260px;
		border: 1px solid #f07d83;
		padding: 20px 5px 20px 20px;
		font-size: 16px;
		text-align: left;
		box-sizing: border-box;
		color: #323232;
		position: relative;
		&:last-child{
			margin-right: 0;
		}
		.img {
			float: left;
			margin-right: 20px;
		}
		.title-h4 {
			padding-top: 16px;
			margin-bottom: 10px;
			overflow: hidden;
		}
		.bnt {
			position: absolute;
			right: 30px;
			bottom: 28px;
			width: 175px;
			img{
				width: 100%;
			}
		}
		.txt {
			font-size: 12px;
		}
		.title-h5 {
			font-size: 14px;
			color: #EF7C82;
			font-weight: bold;
			margin-top: 3px;
			line-height: 1.5;
		}
	}
}
@media screen and (max-width: 767px) {
	.l-moisture {
		margin-top: 7.6rem;
		padding: 0 4rem;
		.title {
			width: 53.63rem;
			margin: 0 auto 3rem;
		}
		ul {
			display: block;
		}
		li {
			width: 100%;
			margin-right: 0;
			height: auto;
			border: 1px solid #f07d83;
			padding: 3.5rem;
			font-size: 2.4rem;
			text-align: center;
			line-height: 3.25rem;
			&:first-child {
				.title-h4 {
					width: 41.17rem;
				}
			}
			&:last-child {
				margin-right: 0;
				margin-top: 2.6rem;
				.title-h4 {
					width: 47.12rem;
				}
			}
			.img {
				float: none;
				margin-right: 0px;
			}
			.img_mois1 {
				width: 22.8rem;
				margin: auto;
			}
			.img_mois2 {
				width: 32.6rem;
				margin: auto;
			}
			.title-h4 {
				padding-top: 2.5rem;
				margin: 0 auto 2rem;
				overflow: hidden;
			}
			.bnt {
				float: none;
				width: 35rem;
				margin: 2.5rem auto 0;
				position: relative;
				right: 0;
				bottom: 0;
				img{
					width: 100%;
				}
			}
			.txt {
				font-size: 2.4rem;
				line-height: 3.25rem;
			}
			.title-h5 {
				font-size: 2.8rem;
				margin-top: 2.8rem;
				line-height: 3.65rem;
			}
		}
	}
}
// l-moisture
.l-exchange {
	margin-top: 75px;
	border: 1px solid #E3AA13;
	padding: 32px 37px 58px;
	.title {
		width: 309px;
		margin-bottom: 30px;
		img {
			width: 100%;
		}
	}
	.img {
		float: left;
		margin: 10px 42px 0 15px;
	}
	.title-h4 {
		margin-bottom: 15px;
	}
	.txt {
		font-size: 16px;
		line-height: 1.7;
	}
	.inner {
		margin-top: 51px;
		font-size: 16px;
		margin-bottom: 16px;
	}
	.inner2{
		margin-top: 40px;
	}
	.tag01 {
		margin-right: 10px;
		img {
			height: 24px;
		}
	}
	.method {
		display: flex;
		flex-wrap: wrap;
		& > li {
			width: 445px;
			margin-right: 30px;
			font-size: 16px;
			padding: 18px 24px 14px;
			box-sizing: border-box;
			&:last-child{
				margin-right: 0;
			}
		}
	}
	.method-web {
		border: 1px solid #53A8FF;
		.title-web {
			width: 203px;
			margin-bottom: 10px;
			img {
				width: 100%;
			}
		}
		ul {
			margin-top: 35px;
			text-align: center;
			margin-left: 12px;
			li {
				float: left;
				&:first-child {
					margin-right: 15px;
				}
			}
		}
	}
	.method-tel {
		border: 1px solid #5CC23E;
		.title-tel {
			width: 197px;
			margin-bottom: 2px;
			img {
				width: 100%;
			}
		}
		a {
			text-decoration: none;
			color: #000;
		}
		dl {
			margin-top: 17px;
			display: table;
			margin-bottom: 5px;
			dt {
				display: table-cell;
			}
			dd {
				display: table-cell;
				vertical-align: bottom;
				padding-left: 13px;
				padding-top: 11px;
				font-size: 12px;
			}
		}
		.text {
			font-size: 13px;
		}
	}
	.method02 {
		dl {
			display: table;
			font-size: 17px;
		}
		dt {
			color: #E3AA13;
			display: table-cell;
		}
		dd {
			display: table-cell;
		}
	}
	.method03 {
		margin-top: 20px;
		dl{
			display: table;
			width: 100%;
		}
		dt {
			display: table-cell;
			color: #E3AA13;
			font-weight: bold;
			font-size: 16px;
			width: 250px;
		}
		.tel {
			margin-left: 5px;
			margin-top: 9px;
		}
		dd {
			display: table-cell;
			vertical-align: middle;
			padding-top: 25px;
			font-size: 15px;
			span{
				font-size: 12px;
			}
		}
	}
}
@media screen and (max-width: 767px) {
	.l-exchange {
		margin-top: 7.8rem;
		padding: 0 4rem;
		border: none;
		.title {
			width: 47.47rem;
			margin-bottom: 4.4rem;
		}
		.title-h4 {
			margin-bottom: 3rem;
			width: 50.87rem;
		}
		.txt {
			font-size: 2.4rem;
			line-height: 4.45rem;
		}
		.inner {
			margin-top: 4.6rem;
			font-size: 2.4rem;
			line-height: 4.45rem;
			margin-bottom: 1rem;
		}
		.inner2{
			margin-top: 6.8rem;
		}
		.tag01 {
			margin-right: 0;
			display: block;
			margin-bottom: 1.8rem;
			img {
				height: 4.608rem;
				width: auto;
			}
		}
		.method {
			display: block;
			& > li {
				width: 100%;
				margin-right: 0;
				font-size: 2.4rem;
				padding: 2.3rem 1.7rem 2.9rem;
			}
		}
		.method-web {
			border: 1px solid #53A8FF;
			margin-bottom: 2.5rem;
			.title-web {
				width: 25.5rem;
				margin-bottom: 2.2rem;
			}
			.txt-web {
				margin-left: -1.5rem;
				letter-spacing: -0.1rem;
			}
			ul {
				margin-top: 2.7rem;
				text-align: center;
				margin-left: 0;
				li {
					float: right;
					width: 24.96rem;
					&:first-child {
						margin-right: 0;
						float: left;
					}
				}
			}
		}
		.method-tel {
			border: 1px solid #5CC23E;
			.txt-tel {
				letter-spacing: -0.1rem;
			}
			.title-tel {
				width: 24.93rem;
				margin-bottom: 1rem;
			}
			.img-tel {
				width: 28.38rem;
				margin-bottom: 1.2rem;
			}
			dl {
				margin-top: 1.8rem;
				display: block;
				margin-bottom: 0;
				dt {
					display: block;
				}
				dd {
					display: block;
					padding: 2.5rem 1.3rem 0;
					font-size: 2.4rem;
					line-height: 3.65rem;
				}
			}
			.text {
				font-size: 2.4rem;
				line-height: 3.25rem;
				padding-left: 1.3rem;
				span {
					margin-left: -1.5rem;
				}
			}
		}
		.method02 {
			margin-bottom: 7.6rem;
			dl {
				display: block;
				font-size: 2.6rem;
				line-height: 4.05rem;
				font-weight: bold;
				margin-top: 3.0rem;
			}
			dt {
				display: block;
			}
			dd {
				display: block;
			}
		}
		.method03 {
			margin-top: 2.2rem;
			dl{
				display: block;
			}
			dt {
				display: block;
				font-size: 3.2rem;
				width: 100%;
			}
			.tel {
				margin: 0;
			}
			dd {
				display: block;
				padding-top: 1.5rem;
				font-size: 2.4rem;
				line-height: 3.25rem;
				span{
					font-size: 2.4rem;
				}
			}
		}
	}
}
// l-exchange
.l-faq {
	margin-top: 93px;
	.title {
		width: 207px;
		margin-bottom: 30px;
		img {
			width: 100%;
		}
	}
	dl {
		border: 1px solid #bfbfbf;
		margin-bottom: 20px;
		dt {
			background: #f4f4f4 url(../img/top/q.png) no-repeat left 16px top 15px;
			background-size: 26px auto;
			padding: 11px 15px 10px 60px;
			font-size: 18px;
			color: #4C4C4C;
			position: relative;
			cursor: pointer;
			&:after {
				content: "";
				background: url(../img/top/icon_up.png) no-repeat center center;
				background-size: 19px auto;
				width: 19px;
				height: 16px;
				position: absolute;
				top: 18px;
				right: 14px;
			}
			&.opened:after{
				content: "";
				background: url(../img/top/icon_dow.png) no-repeat center center;
				background-size: 19px auto;
			}
		}
		dd {
			background: #fff url(../img/top/a.png) no-repeat left 16px top 25px;
			background-size: 27px auto;
			padding: 20px 15px 30px 60px;
			font-size: 14px;
			color: #4C4C4C;
			display: none;
		}
		.title-h4 {
			font-size: 16px;
			font-weight: bold;
			color: #37ABFF;
			margin: 20px 0 10px;
		}
	}
}
@media screen and (max-width: 767px) {
	.l-faq {
		margin-top: 7.8rem;
		border-bottom: 1px solid #bfbfbf;
		.title {
			width: 25.7rem;
			margin: 0 auto 3.2rem
		}
		dl {
			border-top: 1px solid #bfbfbf;
			border-left: none;
			border-bottom: none;
			border-right: none;
			margin-bottom: 0px;
			dt {
				background: #f4f4f4 url(../img/top/q.png) no-repeat left 3.4rem top 3.4rem;
				background-size: 4.49rem auto;
				padding: 3.6rem 5.9rem 2.6rem 9.4rem;
				font-size: 2.8rem;
				line-height: 3.3rem;
				&:after {
					content: "";
					background: url(../img/top/icon_up.png) no-repeat center center;
					background-size: 2.93rem auto;
					width: 2.93rem;
					height: 2.53rem;
					top: 3.6rem;
					right: 2rem;
				}
				&.opened:after{
					content: "";
					background: url(../img/top/icon_dow.png) no-repeat center center;
					background-size: 2.93rem auto;
				}
			}
			dd {
				background: #fff url(../img/top/a.png) no-repeat left 3.4rem top 3.4rem;
				background-size: 4.4rem auto;
				padding: 3.6rem 5.9rem 2.6rem 9.4rem;
				font-size: 2.4rem;
			}
			.title-h4 {
				font-size: 2.4rem;
				font-weight: bold;
				color: #37ABFF;
				margin: 20px 0 10px;
			}
		}
	}
}
// l-faq
.c-banner {
	margin-top: 70px;
	border: 1px solid #f07d83;
	padding: 30px;
	dl {
		display: table;
		width: 100%;
		dt {
			display: table-cell;
		}
		dd {
			display: table-cell;
			vertical-align: bottom;
			font-size: 15px;

		}
	}
}
@media screen and (max-width: 767px) {
	.c-banner {
		margin: 8.8rem 4rem 0;
		border: 1px solid #f07d83;
		padding: 4rem 3.7rem;
		dl {
			display: block;
			dt {
				display: block;
			}
			dd {
				display: block;
				font-size: 2.4rem;
				line-height: 3.4rem;
				margin-top: 1.6rem;
			}
		}
		.title {
			width: 30rem;
			margin-bottom: 2rem;
		}
		.txt-box {
			width: 28.78rem;
			margin-bottom: 1.6rem;
		}
	}
}
// c-banner