/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev {
  left: 20px;
  background: url("../img/top/prev.png") no-repeat left center; }

.bx-wrapper .bx-next {
  right: 20px;
  background: url("../img/top/next.png") no-repeat right center; }

.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -50px;
  outline: 0;
  width: 30px;
  height: 76px;
  text-indent: -9999px;
  z-index: 9999; }

.bx-wrapper .bx-controls-direction a.disabled {
  display: none; }

/* PAGER */
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 10px; }

.bx-wrapper .bx-pager.bx-default-pager a {
  background: #cad1d7;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: #000; }

.bx-wrapper .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  vertical-align: bottom;
  *zoom: 1;
  *display: inline; }

.bx-wrapper .bx-pager-item {
  font-size: 0;
  line-height: 0; }

@media screen and (max-width: 736px) {
  .bx-wrapper .bx-prev {
    left: 13px;
    background: url("../img/top/prev.png") no-repeat left center;
    background-size: 19px auto; }
  .bx-wrapper .bx-next {
    right: 13px;
    background: url("../img/top/next.png") no-repeat right center;
    background-size: 19px auto; }
  .bx-wrapper .bx-controls-direction a {
    margin-top: -63px; }
  .bx-wrapper .bx-pager.bx-default-pager a {
    width: 6px;
    height: 6px; }
  .bx-wrapper .bx-pager {
    padding-top: 0;
    margin-bottom: calc(57px/2);
    margin-top: -3px; } }
