@charset "UTF-8";
/*------------------------------------------------------------
	Default
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, button,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
}

html {
  font-size: 62.5%;
}

body, table,
input, textarea, select, option, button,
h1, h2, h3, h4, h5, h6 {
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  line-height: 1.1;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft {
  text-align: left !important;
}

.taCenter {
  text-align: center !important;
}

.taRight {
  text-align: right !important;
}

.vTop {
  vertical-align: top !important;
}

.vMiddle {
  vertical-align: middle !important;
}

/* font weight */
.fwNormal {
  font-weight: normal !important;
}

.fwBold {
  font-weight: bold !important;
}

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
  *zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	for tracking tag
------------------------------------------------------------*/
.trackTags {
  display: none;
}

/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
  min-width: 1010px;
  /* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
  line-height: 1.5;
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

.container {
  margin: 0 auto;
  width: 1010px;
  text-align: left;
  position: relative;
}

.l-main {
  margin-bottom: 10px;
  font-size: 1.4rem;
}

.l-main:after {
  display: block;
  clear: both;
  content: "";
}

.sm {
  display: none !important;
}

.trans {
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -ms-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}

.trans:hover {
  opacity: 0.7;
}

/*------------------------------------------------------------
	header
------------------------------------------------------------*/
header {
  padding: 14px 0;
}

header .header_logo {
  width: 142px;
  float: left;
  padding-left: 3px;
}

header .header_logo img {
  width: 100%;
}

header ul {
  float: right;
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

header ul a {
  padding-bottom: 2px;
}

header ul a:hover:before {
  left: 0;
}

header ul a:hover:after {
  right: 0;
}

header ul a:before {
  content: "";
  width: 50%;
  height: 1px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  background: #ef7c83;
  position: absolute;
  bottom: 1px;
  left: -100%;
}

header ul a:after {
  content: "";
  width: 50%;
  height: 1px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  background: #e3ab13;
  position: absolute;
  bottom: 1px;
  right: -100%;
}

header li {
  margin: 0 0 0 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

header li:last-child {
  margin-right: 13px;
}

header a {
  font-size: 17px;
  color: #323232;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

header a i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 4px;
}

header a .mr00 {
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  header {
    padding: 0;
  }
  header .in-header {
    padding: 1.7rem 1.4rem 0.9rem;
  }
  header .header_logo {
    width: 23.2rem;
    float: none;
    padding-left: 0px;
    margin: auto;
    padding-right: 2.2rem;
  }
  header .mypage {
    font-size: 1.8rem;
    text-align: center;
    float: left;
    background: url(../img/icon_nav05_sp.png) no-repeat top center;
    background-size: 3.8rem auto;
    padding: 5.5rem 0 0;
    position: absolute;
    left: 1.4rem;
    top: 1.7rem;
  }
  header .mypage a {
    font-size: 1.8rem;
    padding: 0;
    font-weight: bold;
    line-height: 2.889rem;
  }
  header .bnt-menu {
    width: 6.45rem;
    position: absolute;
    right: 1.4rem;
    top: 2.5rem;
    cursor: pointer;
    background: url(../img/bnt_menu.png) no-repeat top center;
    background-size: 6.4rem auto;
    width: 6.4rem;
    height: 6.04rem;
  }
  header .bnt-menu.is-active {
    background: url(../img/bnt_menu_active.png) no-repeat top center;
    background-size: 6.45rem auto;
  }
  header nav {
    display: none;
    width: 100%;
    position: absolute;
    top: 100%;
    margin: 0;
    left: 0;
    background: #fff;
    z-index: 9999;
    padding: 0 1.2rem;
  }
  header ul {
    float: none;
    margin: 0px;
    display: block;
  }
  header ul a {
    padding-bottom: 1rem;
  }
  header ul a:hover:before {
    content: none;
  }
  header ul a:hover:after {
    content: none;
  }
  header li {
    margin: 0;
    display: block;
    border-bottom: 1px solid #323232;
  }
  header li:last-child {
    margin-right: 0;
    border-bottom: none;
  }
  header a {
    font-size: 2.6rem;
    display: block;
    padding: 1rem;
  }
  header a i {
    display: none;
  }
}

/*------------------------------------------------------------
	header
------------------------------------------------------------*/
footer {
  margin-top: 130px;
  background: #F3F3F3 url(../img/line.png) repeat-x top center;
  padding-top: 47px;
}

footer .in-footer {
  padding-bottom: 20px;
  border-bottom: 1px solid #D8D8D8;
  margin-bottom: 35px;
}

footer .nav-footer {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

footer .nav-footer ul {
  margin: 0 25px;
  vertical-align: middle;
  text-align: left;
}

footer .nav-footer ul:first-child {
  margin-left: 0;
}

footer .nav-footer ul:nth-child(2) {
  border-left: 1px solid #D8D8D8;
  padding: 0 0px 0 40px;
  margin-right: 15px;
}

footer .nav-footer ul:nth-child(3) {
  border-left: 1px solid #D8D8D8;
  padding-left: 30px;
}

footer .nav-footer ul:last-child {
  border-left: 1px solid #D8D8D8;
  padding-left: 35px;
}

footer .nav-footer li {
  margin-bottom: 2px;
}

footer .nav-footer .active a {
  color: #999999;
}

footer .nav-footer a {
  color: #323232;
  text-decoration: none;
  font-size: 15px;
}

footer .nav-footer a:hover {
  color: #999999;
}

footer .footer-logo {
  text-align: center;
  margin: 21px;
}

footer .end-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 55px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

footer .end-footer a {
  font-size: 14px;
  text-decoration: none;
  color: #323232;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

footer .end-footer img {
  width: 100%;
}

footer .end-footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

footer .end-footer li {
  margin: 0 6px;
}

footer .end-footer .face {
  width: 28px;
}

footer .end-footer .twice {
  width: 39px;
}

footer .end-footer .youtube {
  width: 55px;
}

footer .end-footer .blog {
  width: 40px;
}

footer .end-footer .link {
  margin: 0 12px;
}

footer .end-footer .coppyright {
  font-size: 15px;
  color: #999999;
  margin-left: 6px;
}

footer .btn-top {
  width: 50px;
  height: 51px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 10000;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  footer {
    margin-top: 7.6rem;
    background: #F3F3F3 url(../img/top/sp/line1.png) repeat-x top center;
    background-size: 8.3rem auto;
    padding: 7.8rem 4rem 0 5rem;
  }
  footer .in-footer {
    padding-bottom: 3.5rem;
    border-bottom: 1px solid #D8D8D8;
    margin-bottom: 3.2rem;
  }
  footer .nav-footer ul {
    margin: 0;
    text-align: left;
    float: left;
    width: 22.5rem;
    margin-bottom: 4rem;
  }
  footer .nav-footer ul:nth-child(2n) {
    border-left: 1px solid #D8D8D8;
    padding: 0 0px 0 2rem;
    margin-right: 0;
    width: 32.5rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  footer .nav-footer ul:nth-child(3) {
    border-left: none;
    padding-left: 0;
  }
  footer .nav-footer ul:last-child {
    border-left: 1px solid #D8D8D8;
    padding: 0 0px 0 2.4rem;
  }
  footer .nav-footer li {
    margin-bottom: 0px;
  }
  footer .nav-footer a {
    font-size: 3rem;
    line-height: 4.937rem;
  }
  footer .footer-logo {
    text-align: center;
    margin: auto;
    width: 37.21rem;
  }
  footer .end-footer {
    display: block;
    padding-bottom: 5rem;
  }
  footer .end-footer img {
    width: 100%;
  }
  footer .end-footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  footer .end-footer li {
    margin: 0 2rem;
  }
  footer .end-footer .face {
    width: 5.32rem;
  }
  footer .end-footer .twice {
    width: 6.91rem;
    margin-right: 0.9rem;
  }
  footer .end-footer .youtube {
    width: 9.77rem;
    margin-left: 0.9rem;
  }
  footer .end-footer .blog {
    width: 7rem;
  }
  footer .end-footer .coppyright {
    font-size: 2.6rem;
    letter-spacing: -0.2rem;
    line-height: 3.355rem;
    color: #999999;
    margin-left: 0px;
    text-align: center;
    margin-top: 4.4rem;
  }
  footer .btn-top {
    width: 35px;
    height: 35px;
    position: fixed;
    right: 5px;
    bottom: 5px;
    z-index: 10000;
    cursor: pointer;
  }
}

/*------------------------------------------------------------
	footer
------------------------------------------------------------*/
@media screen and (max-width: 767px) {
  .md {
    display: none;
  }
  .sm {
    display: block !important;
  }
  html {
    font-size: 1.5625vw;
  }
  body {
    min-width: 320px;
    width: 100%;
  }
  body img {
    width: 100%;
  }
  .container {
    width: auto;
  }
}

/*------------------------------------------------------------
	Headline
------------------------------------------------------------*/
/*------------------------------------------------------------
	Button
------------------------------------------------------------*/
