/*------------------------------------------------------------
	Top page
------------------------------------------------------------*/
.mainvisual {
  background: url(../img/top/bg_slide.png) repeat-x center center;
  position: relative;
}

.mainvisual:after {
  content: "";
  background: url(../img/top/bg_slide1.png) no-repeat bottom center;
  width: 100%;
  height: 430px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.mainvisual .inner {
  height: 431px;
  padding-top: 35px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.mainvisual .img {
  position: absolute;
  right: -180px;
  bottom: 0;
}

.mainvisual .table {
  width: 537px;
  float: left;
  margin-left: -10px;
}

.mainvisual .table img {
  width: 100%;
}

.mainvisual .mainvisual-inner {
  width: 470px;
  float: right;
  position: relative;
  z-index: 99;
}

.mainvisual .mainvisual-inner ul {
  float: left;
  margin-top: 29px;
}

.mainvisual .mainvisual-inner li {
  margin-bottom: 31px;
  width: 225px;
}

.mainvisual .mainvisual-inner li img {
  width: 100%;
}

.mainvisual .mainvisual-box {
  float: right;
  background: url(../img/top/manvisual_02_pc.png) no-repeat top center;
  width: 207px;
  margin-top: 20px;
  height: 240px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 42px 35px;
  margin-right: 10px;
}

.mainvisual .mainvisual-box .title {
  border-bottom: 1px solid #BFBFBF;
  padding-bottom: 19px;
  margin-bottom: 23px;
}

.mainvisual .mainvisual-box .txt {
  font-size: 13px;
}

.mainvisual .mainvisual-box .name {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.0;
}

.mainvisual .mainvisual-box .name span {
  font-size: 14px;
}

.mainvisual .mainvisual-box .text-pt {
  font-size: 24px;
  font-weight: bold;
  color: #f07d83;
  margin-top: 6px;
  letter-spacing: 3px;
}

@media screen and (max-width: 767px) {
  .mainvisual {
    background: url(../img/top/sp/mavisua_bg.png) repeat top center;
    background-size: 13.7rem auto;
    position: relative;
  }
  .mainvisual:before {
    content: "";
    background: url(../img/top/sp/line.png) repeat-x top center;
    background-size: 12.1rem auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
  }
  .mainvisual:after {
    content: "";
    background: url(../img/top/sp/line.png) repeat-x bottom center;
    background-size: 12.1rem auto;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
  }
  .mainvisual .inner {
    height: auto;
    padding: 2.6rem 2.4rem 2.4rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .mainvisual .table {
    max-width: 59.1rem;
    width: auto;
    float: none;
    margin: auto;
    text-align: center;
  }
  .mainvisual .mainvisual-inner {
    width: 55.9rem;
    margin: auto;
    float: none;
    padding: 0;
  }
  .mainvisual .mainvisual-inner ul {
    margin-top: 3.7rem;
    width: 27.6rem;
  }
  .mainvisual .mainvisual-inner li {
    margin-bottom: 2.9rem;
    width: auto;
  }
  .mainvisual .mainvisual-box {
    float: right;
    background: url(../img/top/sp/manvisual_02_sp.png) no-repeat top center;
    background-size: 100% auto;
    width: 25.3rem;
    margin-top: 2.4rem;
    margin-right: 0;
    height: 27.9rem;
    padding: 4rem 4.5rem;
  }
  .mainvisual .mainvisual-box .title {
    padding-bottom: 1.5rem;
    margin-bottom: 1.3rem;
  }
  .mainvisual .mainvisual-box .txt {
    font-size: 2rem;
    line-height: 2.352rem;
  }
  .mainvisual .mainvisual-box .name {
    font-size: 2.2rem;
    margin-top: 1rem;
  }
  .mainvisual .mainvisual-box .name span {
    font-size: 1.85rem;
  }
  .mainvisual .mainvisual-box .text-pt {
    font-size: 3.6rem;
    margin-top: 1.4rem;
    letter-spacing: 3px;
    line-height: 1;
  }
}

.content-top {
  width: 1000px;
  margin: auto;
}

@media screen and (max-width: 767px) {
  .content-top {
    width: auto;
  }
}

.l-program {
  margin-top: 93px;
}

.l-program .title {
  width: 348px;
  margin-bottom: 20px;
  padding-left: 2px;
}

.l-program .title img {
  width: 100%;
}

.l-program .img {
  float: right;
  margin-right: 65px;
  margin-left: 48px;
  margin-top: 12px;
}

.l-program .txt {
  font-size: 16px;
  line-height: 2;
  text-align: left;
  display: block;
}

@media screen and (max-width: 767px) {
  .l-program {
    margin-top: 5.8rem;
    padding: 0 4rem;
  }
  .l-program .title {
    width: 42.9rem;
    margin-bottom: 4.3rem;
    padding-left: 0;
  }
  .l-program .img {
    float: none;
    margin: 0 1rem 4.1rem;
    width: 49.991rem;
  }
  .l-program .txt {
    font-size: 2.4rem;
    line-height: 4.45rem;
    text-align: left;
    display: block;
  }
}

.l-accumulate {
  margin-top: 67px;
}

.l-accumulate .title {
  width: 247px;
  padding-left: 5px;
}

.l-accumulate .title img {
  width: 100%;
}

.l-accumulate ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: left;
}

.l-accumulate ul li {
  border: 1px solid #f07d83;
  position: relative;
  margin-right: 35px;
  margin-top: 35px;
  width: 310px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.l-accumulate ul li:nth-child(3n) {
  margin-right: 0;
}

.l-accumulate .sec {
  padding: 25px 23px 11px;
  height: 140px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.l-accumulate .sec p {
  font-size: 15px;
  margin-top: 10px;
  letter-spacing: -0.5px;
}

.l-accumulate .tag {
  position: absolute;
  top: -27px;
  right: -7px;
}

.l-accumulate .box {
  background: #f4f4f4;
  height: 97px;
  padding: 0 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .l-accumulate {
    margin-top: 5rem;
    padding: 0 4rem;
  }
  .l-accumulate .title {
    width: 30.9rem;
    padding-left: 0;
    margin-bottom: 4.7rem;
  }
  .l-accumulate ul li {
    margin-right: 3%;
    margin-top: 3%;
    width: 48.5%;
    float: left;
    border: 1px solid #f07d83;
    padding-bottom: 8.9rem;
  }
  .l-accumulate ul li:nth-child(3n) {
    margin-right: 3%;
  }
  .l-accumulate ul li:nth-child(2n) {
    margin-right: 0;
  }
  .l-accumulate ul li:nth-child(1) .title-h4 {
    width: 17.7rem;
  }
  .l-accumulate ul li:nth-child(1) .txt-box {
    width: 18.86rem;
  }
  .l-accumulate ul li:nth-child(2) .title-h4 {
    width: 23.55rem;
  }
  .l-accumulate ul li:nth-child(2) .txt-box {
    width: 23.38rem;
  }
  .l-accumulate ul li:nth-child(3) .title-h4 {
    width: 16.16rem;
  }
  .l-accumulate ul li:nth-child(3) .txt-box {
    width: 23.11rem;
  }
  .l-accumulate ul li:nth-child(4) .title-h4 {
    width: 21.2rem;
  }
  .l-accumulate ul li:nth-child(4) .txt-box {
    width: 19.64rem;
  }
  .l-accumulate ul li:nth-child(5) .title-h4 {
    width: 18.62rem;
  }
  .l-accumulate ul li:nth-child(5) .txt-box {
    width: 21.38rem;
  }
  .l-accumulate ul li:nth-child(6) .title-h4 {
    width: 21.9rem;
  }
  .l-accumulate ul li:nth-child(6) .txt-box {
    width: 23.79rem;
  }
  .l-accumulate .sec {
    padding: 1.9rem 1.6rem;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .l-accumulate .sec p {
    font-size: 2.4rem;
    margin-top: 1.8rem;
    letter-spacing: 0;
    line-height: 2.85rem;
  }
  .l-accumulate .tag {
    position: absolute;
    top: -5rem;
    right: -0.8rem;
  }
  .l-accumulate .tag img {
    width: 7.19rem;
  }
  .l-accumulate .box {
    height: 8.9rem;
    padding: 0 1.5rem;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

.l-moisture {
  margin-top: 90px;
}

.l-moisture .title {
  text-align: center;
  width: 431px;
  margin: 0 auto 30px;
}

.l-moisture .title img {
  width: 100%;
}

.l-moisture ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.l-moisture li {
  width: 485px;
  margin-right: 30px;
  height: 260px;
  border: 1px solid #f07d83;
  padding: 20px 5px 20px 20px;
  font-size: 16px;
  text-align: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #323232;
  position: relative;
}

.l-moisture li:last-child {
  margin-right: 0;
}

.l-moisture li .img {
  float: left;
  margin-right: 20px;
}

.l-moisture li .title-h4 {
  padding-top: 16px;
  margin-bottom: 10px;
  overflow: hidden;
}

.l-moisture li .bnt {
  position: absolute;
  right: 30px;
  bottom: 28px;
  width: 175px;
}

.l-moisture li .bnt img {
  width: 100%;
}

.l-moisture li .txt {
  font-size: 12px;
}

.l-moisture li .title-h5 {
  font-size: 14px;
  color: #EF7C82;
  font-weight: bold;
  margin-top: 3px;
  line-height: 1.5;
}

@media screen and (max-width: 767px) {
  .l-moisture {
    margin-top: 7.6rem;
    padding: 0 4rem;
  }
  .l-moisture .title {
    width: 53.63rem;
    margin: 0 auto 3rem;
  }
  .l-moisture ul {
    display: block;
  }
  .l-moisture li {
    width: 100%;
    margin-right: 0;
    height: auto;
    border: 1px solid #f07d83;
    padding: 3.5rem;
    font-size: 2.4rem;
    text-align: center;
    line-height: 3.25rem;
  }
  .l-moisture li:first-child .title-h4 {
    width: 41.17rem;
  }
  .l-moisture li:last-child {
    margin-right: 0;
    margin-top: 2.6rem;
  }
  .l-moisture li:last-child .title-h4 {
    width: 47.12rem;
  }
  .l-moisture li .img {
    float: none;
    margin-right: 0px;
  }
  .l-moisture li .img_mois1 {
    width: 22.8rem;
    margin: auto;
  }
  .l-moisture li .img_mois2 {
    width: 32.6rem;
    margin: auto;
  }
  .l-moisture li .title-h4 {
    padding-top: 2.5rem;
    margin: 0 auto 2rem;
    overflow: hidden;
  }
  .l-moisture li .bnt {
    float: none;
    width: 35rem;
    margin: 2.5rem auto 0;
    position: relative;
    right: 0;
    bottom: 0;
  }
  .l-moisture li .bnt img {
    width: 100%;
  }
  .l-moisture li .txt {
    font-size: 2.4rem;
    line-height: 3.25rem;
  }
  .l-moisture li .title-h5 {
    font-size: 2.8rem;
    margin-top: 2.8rem;
    line-height: 3.65rem;
  }
}

.l-exchange {
  margin-top: 75px;
  border: 1px solid #E3AA13;
  padding: 32px 37px 58px;
}

.l-exchange .title {
  width: 309px;
  margin-bottom: 30px;
}

.l-exchange .title img {
  width: 100%;
}

.l-exchange .img {
  float: left;
  margin: 10px 42px 0 15px;
}

.l-exchange .title-h4 {
  margin-bottom: 15px;
}

.l-exchange .txt {
  font-size: 16px;
  line-height: 1.7;
}

.l-exchange .inner {
  margin-top: 51px;
  font-size: 16px;
  margin-bottom: 16px;
}

.l-exchange .inner2 {
  margin-top: 40px;
}

.l-exchange .tag01 {
  margin-right: 10px;
}

.l-exchange .tag01 img {
  height: 24px;
}

.l-exchange .method {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.l-exchange .method > li {
  width: 445px;
  margin-right: 30px;
  font-size: 16px;
  padding: 18px 24px 14px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.l-exchange .method > li:last-child {
  margin-right: 0;
}

.l-exchange .method-web {
  border: 1px solid #53A8FF;
}

.l-exchange .method-web .title-web {
  width: 203px;
  margin-bottom: 10px;
}

.l-exchange .method-web .title-web img {
  width: 100%;
}

.l-exchange .method-web ul {
  margin-top: 35px;
  text-align: center;
  margin-left: 12px;
}

.l-exchange .method-web ul li {
  float: left;
}

.l-exchange .method-web ul li:first-child {
  margin-right: 15px;
}

.l-exchange .method-tel {
  border: 1px solid #5CC23E;
}

.l-exchange .method-tel .title-tel {
  width: 197px;
  margin-bottom: 2px;
}

.l-exchange .method-tel .title-tel img {
  width: 100%;
}

.l-exchange .method-tel a {
  text-decoration: none;
  color: #000;
}

.l-exchange .method-tel dl {
  margin-top: 17px;
  display: table;
  margin-bottom: 5px;
}

.l-exchange .method-tel dl dt {
  display: table-cell;
}

.l-exchange .method-tel dl dd {
  display: table-cell;
  vertical-align: bottom;
  padding-left: 13px;
  padding-top: 11px;
  font-size: 12px;
}

.l-exchange .method-tel .text {
  font-size: 13px;
}

.l-exchange .method02 dl {
  display: table;
  font-size: 17px;
}

.l-exchange .method02 dt {
  color: #E3AA13;
  display: table-cell;
}

.l-exchange .method02 dd {
  display: table-cell;
}

.l-exchange .method03 {
  margin-top: 20px;
}

.l-exchange .method03 dl {
  display: table;
  width: 100%;
}

.l-exchange .method03 dt {
  display: table-cell;
  color: #E3AA13;
  font-weight: bold;
  font-size: 16px;
  width: 250px;
}

.l-exchange .method03 .tel {
  margin-left: 5px;
  margin-top: 9px;
}

.l-exchange .method03 dd {
  display: table-cell;
  vertical-align: middle;
  padding-top: 25px;
  font-size: 15px;
}

.l-exchange .method03 dd span {
  font-size: 12px;
}

@media screen and (max-width: 767px) {
  .l-exchange {
    margin-top: 7.8rem;
    padding: 0 4rem;
    border: none;
  }
  .l-exchange .title {
    width: 47.47rem;
    margin-bottom: 4.4rem;
  }
  .l-exchange .title-h4 {
    margin-bottom: 3rem;
    width: 50.87rem;
  }
  .l-exchange .txt {
    font-size: 2.4rem;
    line-height: 4.45rem;
  }
  .l-exchange .inner {
    margin-top: 4.6rem;
    font-size: 2.4rem;
    line-height: 4.45rem;
    margin-bottom: 1rem;
  }
  .l-exchange .inner2 {
    margin-top: 6.8rem;
  }
  .l-exchange .tag01 {
    margin-right: 0;
    display: block;
    margin-bottom: 1.8rem;
  }
  .l-exchange .tag01 img {
    height: 4.608rem;
    width: auto;
  }
  .l-exchange .method {
    display: block;
  }
  .l-exchange .method > li {
    width: 100%;
    margin-right: 0;
    font-size: 2.4rem;
    padding: 2.3rem 1.7rem 2.9rem;
  }
  .l-exchange .method-web {
    border: 1px solid #53A8FF;
    margin-bottom: 2.5rem;
  }
  .l-exchange .method-web .title-web {
    width: 25.5rem;
    margin-bottom: 2.2rem;
  }
  .l-exchange .method-web .txt-web {
    margin-left: -1.5rem;
    letter-spacing: -0.1rem;
  }
  .l-exchange .method-web ul {
    margin-top: 2.7rem;
    text-align: center;
    margin-left: 0;
  }
  .l-exchange .method-web ul li {
    float: right;
    width: 24.96rem;
  }
  .l-exchange .method-web ul li:first-child {
    margin-right: 0;
    float: left;
  }
  .l-exchange .method-tel {
    border: 1px solid #5CC23E;
  }
  .l-exchange .method-tel .txt-tel {
    letter-spacing: -0.1rem;
  }
  .l-exchange .method-tel .title-tel {
    width: 24.93rem;
    margin-bottom: 1rem;
  }
  .l-exchange .method-tel .img-tel {
    width: 28.38rem;
    margin-bottom: 1.2rem;
  }
  .l-exchange .method-tel dl {
    margin-top: 1.8rem;
    display: block;
    margin-bottom: 0;
  }
  .l-exchange .method-tel dl dt {
    display: block;
  }
  .l-exchange .method-tel dl dd {
    display: block;
    padding: 2.5rem 1.3rem 0;
    font-size: 2.4rem;
    line-height: 3.65rem;
  }
  .l-exchange .method-tel .text {
    font-size: 2.4rem;
    line-height: 3.25rem;
    padding-left: 1.3rem;
  }
  .l-exchange .method-tel .text span {
    margin-left: -1.5rem;
  }
  .l-exchange .method02 {
    margin-bottom: 7.6rem;
  }
  .l-exchange .method02 dl {
    display: block;
    font-size: 2.6rem;
    line-height: 4.05rem;
    font-weight: bold;
    margin-top: 3.0rem;
  }
  .l-exchange .method02 dt {
    display: block;
  }
  .l-exchange .method02 dd {
    display: block;
  }
  .l-exchange .method03 {
    margin-top: 2.2rem;
  }
  .l-exchange .method03 dl {
    display: block;
  }
  .l-exchange .method03 dt {
    display: block;
    font-size: 3.2rem;
    width: 100%;
  }
  .l-exchange .method03 .tel {
    margin: 0;
  }
  .l-exchange .method03 dd {
    display: block;
    padding-top: 1.5rem;
    font-size: 2.4rem;
    line-height: 3.25rem;
  }
  .l-exchange .method03 dd span {
    font-size: 2.4rem;
  }
}

.l-faq {
  margin-top: 93px;
}

.l-faq .title {
  width: 207px;
  margin-bottom: 30px;
}

.l-faq .title img {
  width: 100%;
}

.l-faq dl {
  border: 1px solid #bfbfbf;
  margin-bottom: 20px;
}

.l-faq dl dt {
  background: #f4f4f4 url(../img/top/q.png) no-repeat left 16px top 15px;
  background-size: 26px auto;
  padding: 11px 15px 10px 60px;
  font-size: 18px;
  color: #4C4C4C;
  position: relative;
  cursor: pointer;
}

.l-faq dl dt:after {
  content: "";
  background: url(../img/top/icon_up.png) no-repeat center center;
  background-size: 19px auto;
  width: 19px;
  height: 16px;
  position: absolute;
  top: 18px;
  right: 14px;
}

.l-faq dl dt.opened:after {
  content: "";
  background: url(../img/top/icon_dow.png) no-repeat center center;
  background-size: 19px auto;
}

.l-faq dl dd {
  background: #fff url(../img/top/a.png) no-repeat left 16px top 25px;
  background-size: 27px auto;
  padding: 20px 15px 30px 60px;
  font-size: 14px;
  color: #4C4C4C;
  display: none;
}

.l-faq dl .title-h4 {
  font-size: 16px;
  font-weight: bold;
  color: #37ABFF;
  margin: 20px 0 10px;
}

@media screen and (max-width: 767px) {
  .l-faq {
    margin-top: 7.8rem;
    border-bottom: 1px solid #bfbfbf;
  }
  .l-faq .title {
    width: 25.7rem;
    margin: 0 auto 3.2rem;
  }
  .l-faq dl {
    border-top: 1px solid #bfbfbf;
    border-left: none;
    border-bottom: none;
    border-right: none;
    margin-bottom: 0px;
  }
  .l-faq dl dt {
    background: #f4f4f4 url(../img/top/q.png) no-repeat left 3.4rem top 3.4rem;
    background-size: 4.49rem auto;
    padding: 3.6rem 5.9rem 2.6rem 9.4rem;
    font-size: 2.8rem;
    line-height: 3.3rem;
  }
  .l-faq dl dt:after {
    content: "";
    background: url(../img/top/icon_up.png) no-repeat center center;
    background-size: 2.93rem auto;
    width: 2.93rem;
    height: 2.53rem;
    top: 3.6rem;
    right: 2rem;
  }
  .l-faq dl dt.opened:after {
    content: "";
    background: url(../img/top/icon_dow.png) no-repeat center center;
    background-size: 2.93rem auto;
  }
  .l-faq dl dd {
    background: #fff url(../img/top/a.png) no-repeat left 3.4rem top 3.4rem;
    background-size: 4.4rem auto;
    padding: 3.6rem 5.9rem 2.6rem 9.4rem;
    font-size: 2.4rem;
  }
  .l-faq dl .title-h4 {
    font-size: 2.4rem;
    font-weight: bold;
    color: #37ABFF;
    margin: 20px 0 10px;
  }
}

.c-banner {
  margin-top: 70px;
  border: 1px solid #f07d83;
  padding: 30px;
}

.c-banner dl {
  display: table;
  width: 100%;
}

.c-banner dl dt {
  display: table-cell;
}

.c-banner dl dd {
  display: table-cell;
  vertical-align: bottom;
  font-size: 15px;
}

@media screen and (max-width: 767px) {
  .c-banner {
    margin: 8.8rem 4rem 0;
    border: 1px solid #f07d83;
    padding: 4rem 3.7rem;
  }
  .c-banner dl {
    display: block;
  }
  .c-banner dl dt {
    display: block;
  }
  .c-banner dl dd {
    display: block;
    font-size: 2.4rem;
    line-height: 3.4rem;
    margin-top: 1.6rem;
  }
  .c-banner .title {
    width: 30rem;
    margin-bottom: 2rem;
  }
  .c-banner .txt-box {
    width: 28.78rem;
    margin-bottom: 1.6rem;
  }
}
